/* Підключення шрифтів */
@import url("fonts.css");
/* Скидання стилів */
@import url("reset.css");

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    /* background-color: green; */
    background-color: #fff;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

.header {
    position: fixed;
    width: 100%;
}

.header,
.footer {
    padding: 20px;
    background-color: #77608d;
    color: #fff;
    text-align: center;
    font-size: 30px;
    font-weight: 600;
}

[class*="__container"] {
    max-width: 1170px;
    padding: 0 33px;
    margin: 0 auto;
}

.page {
    background: url('../img/bg.jpeg') center center / cover no-repeat;
}

.page--margin {
    margin-top: 70px;
}

.title {
    font-size: 60px;
    font-weight: 900;
    text-transform: uppercase;
    text-align: center;
}

.title--margin {
    /* margin-bottom: 250px; */
}

.block__car {
    position: relative;
}

.page__sun {
    margin-bottom: 200px;
    margin-left: auto;
    margin-right: 30px;
}

.sun {}

.sun {
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: yellow;
    position: relative;
    animation: sun 1s infinite ease-in-out alternate;
}

.sun::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 100%;
    border-radius: 50%;
    background-color: transparent;
    transform: translate(-20px, -10px);
}

.sun::after {
    /* content: "";
    width: 2px;
    height: 100px;
    background-color: #000;
    position: absolute;
    top: -100%;
    left: 57%;
    z-index: -1;
    transform-origin: top; */
}

@keyframes sun {
    0% {
        transform: rotate(45deg);
    }

    50% {
        transform: rotate(0);
    }

    100% {
        transform: rotate(-45deg);
    }
}

.car {
    max-width: 745px;
    min-height: 110px;
    background-color: #000;
    /* background-color: #838383; */
    position: relative;
    border-radius: 32px 35px 48% 48%;
    z-index: 30;
    perspective: 400px;
}

.head {
    position: absolute;
    top: -75px;
    left: 148px;
    min-width: 350px;
    min-height: 105px;
    border-radius: 66% 34% 0% 100% / 100% 69% 31% 0%;
    /* background-color: #838383; */
    background-color: #000;
    perspective: 400px;
    z-index: 10;
}

.head-1 {
    position: absolute;
    top: 8px;
    left: 40px;
    width: 280px;
    height: 65px;
    border-radius: 66% 34% 0% 100% / 100% 69% 31% 0%;
    background-color: #fff;
    overflow: hidden;
    z-index: 1;
}

.head-2 {
    position: absolute;
    left: 0;
    top: 0;
    width: 280px;
    height: 65px;
    background-color: rgba(0, 0, 0, .9);
    border-radius: 66% 34% 0% 100% / 100% 69% 31% 0%;
    z-index: 2;
    transition: all 1s;
}

.top {
    position: absolute;
    top: 13px;
    /* left: 159px; */
    left: 145px;
    width: 10px;
    height: 60px;
    z-index: 15;
    background-color: #000;
    border-radius: 3px 3px 0 0;
    border-left: 4px solid #1b1b1a;
    border-right: 4px solid #1b1b1a;
}

.car:hover>.head>.head-1>.head-2 {
    transform: translateY(65px);
}

.realing {
    position: absolute;
    /* left: 32px; */
    left: 8px;
    top: 73px;
    /* width: 318px; */
    width: 340px;
    height: 5px;
    background-color: #505050;
    /* background-color: #3a3a3a; */
    border-radius: 8px 8px 0 0;
}

.hood-body {
    position: absolute;
    width: 222px;
    height: 15px;
    right: 24px;
    top: -10px;
    border-radius: 10px 30px 30px 0;
    background-color: #000;
    transform: skewX(-10deg);
    transition: rotate 1s;
    transform-origin: 10px 10px;
    /* animation: hood-body 1s infinite ease-in-out alternate; */
}


.car:hover .hood-body {
    /* transform: rotate(-45deg); */
    /* transform-origin: 10px 10px; */
    /* transition: all 1s ease-in-out; */
    animation-play-state: paused;
}

@keyframes hood-body {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(-45deg);
    }
}


.door-start {
    position: absolute;
    top: 3px;
    /* left: 313px; */
    left: 295px;
    /* width: 185px; */
    width: 200px;
    height: 95px;
    border-left: 4px solid #1b1b1a;
    border-right: 1px solid #1b1b1a;
    border-bottom: 1px solid #1b1b1a;
    border-radius: 0 0 0 15px;
    z-index: 10;
}

.door-end {
    position: absolute;
    top: 3px;
    left: 180px;
    width: 130px;
    height: 95px;
    border-left: 4px solid #1b1b1a;
    border-right: 4px solid #1b1b1a;
    border-bottom: 1px solid #1b1b1a;
    border-radius: 0 0 0 15px;
    z-index: 10;
}

.door-handle__inner {
    position: absolute;
    top: 15px;
    left: 10px;
    width: 35px;
    height: 15px;
    border-left: 2px solid #1b1b1a;
    border-right: 2px solid #1b1b1a;
    border-bottom: 2px solid #1b1b1a;
    border-radius: 0 0 8px 8px;
}

.door-handle__car {
    position: absolute;
    width: 31px;
    height: 7px;
    background-color: #505050;
    border-radius: 0 0 6px 6px;
}

.headlights {
    position: absolute;
    top: 12px;
    right: -17px;
    width: 40px;
    height: 40px;
    border-radius: 30px 12px;
    background-color: #e8e8e8;
    /* box-shadow: 0 0 10px 1px #c0c0c0,
        inset 0 0 10px 1px #ffffff; */
    /* Тінь для створення ефекту хрому */
    transform: rotateY(70deg) rotateX(-8deg);
    transition: .3s;
}

.arch-end {
    position: absolute;
    top: 25px;
    left: 85px;
    width: 150px;
    height: 130px;
    border-radius: 43% 53%;
    /* background-color: #fff; */
    z-index: 15;
}

.ship {
    position: absolute;
    top: 10px;
    left: 8px;
    width: 130px;
    height: 130px;
    border-radius: 50%;
    border: 5px dotted #000;
    transition: all 1s;
}

.circle {
    position: absolute;
    top: 1px;
    left: 1px;
    width: 117px;
    height: 117px;
    border-radius: 50%;
    background-color: rgba(0, 0, 0, .5);
}

.circle img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
}

.arch-start {
    position: absolute;
    width: 150px;
    height: 130px;
    top: 23px;
    right: 50px;
    border-radius: 250px 150px;
    /* background-color: #fff; */
    /* background-color: transparent; */
    transition: all 3s;
}

.wheel-start img,
.wheel-end img {
    position: absolute;
    top: 0px;
    left: 5px;
    border-radius: 50%;
    animation: whell 1s infinite ease-in-out alternate;
}

.wheel-end img {
    left: 0;
}

@keyframes whell {
    0% {
        transform: rotate(0);
    }

    100% {

        transform: rotate(3600deg);
    }
}

.car:hover .ship,
.car:hover .circle {
    transform: rotate(360deg);
}

.car:hover .headlights {
    box-shadow: 0 0 10px 1px #c0c0c0,
        inset 0 0 10px 1px #ffffff;
}

.car__gas {
    position: absolute;
    left: 20px;
    top: 10px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    background: #444444;
}

.car__gas::before {
    content: "";
    width: 35px;
    height: 35px;
    border-radius: 50%;
    border: 3px dotted #000;
    top: 3px;
    left: 2px;
    position: absolute;
}


.car__gas::after {
    content: "";
    width: 25px;
    height: 25px;
    border-radius: 50%;
    border: 1px solid #000;
    top: 7px;
    left: 7px;
    position: absolute;
}

.gas__item {
    width: 12px;
    height: 10px;
    background-color: silver;
    position: absolute;
    left: 10px;
    top: 14px;
    border-radius: 0 7px 7px 0;
}

.gas__item::before {
    content: "";
    position: absolute;
    width: 8px;
    height: 10px;
    background-color: #000;
    border-radius: 0 7px 7px 0;
    left: 0px;
}

.car__exhaust {
    width: 130px;
    height: 15px;
    background-color: rgb(57, 44, 44);
    position: absolute;
    top: 95px;
    left: -20px;
    border-radius: 5px 0 0 5px;
}