/* Підключення шрифтів */
@import url("fonts.css");
/* Скидання стилів */
@import url("reset.css");

body {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7D7D7D;
}


/* ---------------- HEADER ---------------- */
.header {
    max-width: 620px;
    padding: 0 10px;
    margin: 0 auto 50px;
}

.list {
    background-color: #41D3BD;
    text-align: center;
    border-radius: 0 0 8px 8px;
}

.list li:not(:last-child) {
    margin-bottom: 15px;
}

.list li a {
    color: #613F75;
    font-size: 36px;
    font-weight: 600;
    padding: 10px;
}

.list li a:hover {
    background-color: #DE6449;
}

/* ---------------- MAIN ---------------- */
.main {
    margin-bottom: 100px;
}

/* ------------------- PRACTICE ---------------------------- */
.practice {
    max-width: 1120px;
    padding: 10px;
    margin: 0 auto 50px;
}

.title,
.practice__subtitle {
    font-family: "Poppins", sans-serif;
    font-size: 60px;
    line-height: 1.2;
    font-weight: 700;
    text-align: center;
}

.title {
    color: #613F75;
    margin-bottom: 30px;
}

.practice__subtitle {
    font-size: 32px;
    margin-bottom: 20px;
    color: #EF798A;
}

.practice__item,
.game__wrapper,
.game-link,
.game-block {
    border-radius: 8px;
}

.practice__item {
    padding: 10px;
    background-color: #7CDEDC;
    color: #474954;
}

.practice__item:not(:last-child) {
    margin-bottom: 30px;
}

.practice__title {
    font-size: 25px;
    font-weight: 600;
    color: #7284A8;
    margin-bottom: 15px;
    line-height: 1.2;
}

.practice__link {
    padding: 5px;
}

.practice__link:hover {
    background-color: #9E788F;
    color: #f6f3f3;
}

.box-red {
    width: 25px;
    height: 25px;
    border-radius: 50%;
    background-color: #fa6363;
    margin-bottom: 10px;
}

.box-red:hover {
    background-color: greenyellow;
}

.text-cls {
    background-color: #9E788F;
    visibility: hidden;
    color: #F4F4F4;
    padding: 5px;
}

.box-red:hover+.text-cls {
    visibility: visible;
}

.text-active:hover {
    text-decoration: underline;
}

.text-active:active {
    color: red;
}

.practice__list li:not(:last-child),
.practice__list-focus li:not(:last-child) {
    margin-bottom: 15px;
}

.practice__list a,
.practice__list-focus li {
    font-weight: 600;
    color: #4a58d5;
    padding: 5px;
}

.practice__list a:hover,
.practice__list-focus a:hover,
.open:hover {
    background-color: #A9B3CE;
}

.practice__list a:visited {
    color: red;
}

.practice__list-focus li {
    color: #EF798A;
}

.practice__list-focus li a:focus {
    outline: 3px dotted #613F75;
    color: yellow;
}

.open {
    font-size: 24px;
    font-weight: 600;
    padding: 10px;
    margin-bottom: 20px;
}

.open:not(:last-of-type) {
    margin-right: 20px;
}

.practice__text p {
    padding: 10px;
    background-color: #E5C3D1;
    visibility: hidden;
}

.practice__text p:not(:last-child) {
    margin-bottom: 10px;
}

.practice__text p:target {
    visibility: visible;
}

.text-first p,
.text-last p,
.text-nth p,
.text-dec p,
.text-odd p {
    background: transparent;
    visibility: visible;
}

.text-first p:first-child {
    background-color: #E5C3D1;
}

.text-first span {
    display: inline-block;
    margin-bottom: 15px;
}

.text-first p:first-of-type {
    background-color: #E5C3D1;
}

.text-last p:last-of-type {
    background-color: #E5C3D1;
}

.text-last p:last-child {
    background-color: #E5C3D1;
}

.text-nth p:nth-child(3) {
    background-color: #E5C3D1;
}

.text-dec p:nth-child(3n+1) {
    background-color: #C9D7F8;
}

.text-dec p:nth-child(3n+2) {
    background-color: #E5C3D1;
}

.text-dec p:nth-child(3n+3) {
    background-color: #4C6663;
    color: #F4F4F4;
}

.text-odd p:nth-child(odd) {
    background-color: #C9D7F8;
}

.text-odd p:nth-child(even) {
    background-color: #80CFA9;
}

.title-decor {
    color: #407899;
    text-align: center;
}

.title-decor::before,
.title-decor::after {
    content: "";
    width: 20px;
    height: 20px;
    border-radius: 50%;
    box-shadow: 3px 3px 5px #000;
}

.title-decor::before {
    background-color: blue;
}

.title-decor::after {
    background-color: yellow;
}

/* ------ GAME ------- */


.game__wrapper {
    max-width: 1120px;
    margin: 0 auto 100px;
    background-color: #7CDEDC;
    padding: 10px;
}

.game__title {
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-weight: 700;
    font-size: 40px;
    text-align: center;
    margin-bottom: 30px;
    color: #fff;
}

.game-link {
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-weight: 700;
    background-color: #13906d;
    margin-bottom: 30px;
    padding: 15px 20px;
    color: #fff;
}



.game-block {
    max-width: 800px;
    margin: 0 auto;
    padding: 10px;
    outline: 2px solid;
    display: none;
}



.block-title {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #fff;
    font-weight: 900;
    font-size: 24px;
    margin-bottom: 10px;
}

.block_1,
.block-2,
.block-3,
.block-4,
.block-5,
.block-6,
.block-7,
.block-8,
.block-9,
.block-10 {
    cursor: pointer;
    background-color: #9E788F;
    visibility: hidden;
}


.block_1 {
    max-width: 80px;
    min-height: 50px;
}

.block-2 {
    min-height: 60px;
    max-width: 100%;
    border-radius: 0 10px 0 10px;
}

.block-3 {
    max-width: 60px;
    min-height: 160px;
    margin-left: auto;
    margin-top: -60px;
    border-radius: 0 10px 0 0;
}

.block-4 {
    max-width: 100%;
    min-height: 50px;
    border-radius: 0 0 10px 0;
}

.block-5 {
    max-width: 40px;
    min-height: 100px;
}

.block-6 {
    max-width: 100%;
    min-height: 30px;
}

.block-7 {
    max-width: 20px;
    min-height: 100px;
    margin-left: auto;
}

.block-8 {
    max-width: 100%;
    min-height: 40px;
}

.block-9 {
    max-width: 25px;
    min-height: 100px;
}

.block-10 {
    max-width: 25px;
    min-height: 25px;
    background-color: yellow;
    margin-bottom: 30px;
}

.finish {
    max-width: 100%;
    font-size: 30px;
    font-family: "Montserrat", sans-serif;
    font-weight: 900;
    letter-spacing: 5px;
    text-transform: uppercase;
    text-align: center;
    color: gold;
    visibility: hidden;
}

.block_1:hover+.block-2,
.block-2:hover+.block-3,
.block-3:hover+.block-4,
.block-4:hover+.block-5,
.block-5:hover+.block-6,
.block-6:hover+.block-7,
.block-7:hover+.block-8,
.block-8:hover+.block-9,
.block-9:hover+.block-10,
.block-10:hover+.finish {
    visibility: visible;
}

.block-2:hover,
.block-3:hover,
.block-4:hover,
.block-5:hover,
.block-6:hover,
.block-7:hover,
.block-8:hover,
.block-9:hover,
.block-10:hover,
.finish:hover {
    visibility: visible;
}

.block-10:hover {
    max-width: 25px;
    min-height: 25px;
}

.finish:hover {
    visibility: visible;
}

.game-block:target {
    display: block;
}

.game__wrapper:target {
    display: block;
}

.block_1 {
    visibility: visible;
}



/* ----------------- BENEFITS ---------------------------- */
.benefits {
    max-width: 712px;
    margin: 0 auto 100px;
    padding: 10px;
}


.benefits>*:last-child {
    margin-bottom: 0;
}

.benefits__title,
.benefits__subtitle,
.benefits__block-title,
.business__item,
.work__item-title {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    line-height: 1.27;
    color: #37393F;
}

.benefits__title {
    font-size: 30px;
    margin-bottom: 12px;
    text-transform: capitalize;
}

.benefits__text {
    line-height: 1.46;
    margin-bottom: 42px;
}


.benefits__text p:not(:last-child),
.business__text p:not(:last-child),
.business__list-text p:not(:last-child) {
    margin-bottom: 16px;
}

.benefits__subtitle {
    font-size: 20px;
    color: #6B77E5;
    margin-bottom: 12px;
}

.benefits__block {
    font-size: 0;
    margin-bottom: 50px;
}


.benefits__img {
    min-width: 331px;
    min-height: 262px;
    display: inline-block;
    background: url('../img/consulting/photo-benefits.jpg') center / cover no-repeat;
    margin-right: 29px;
    vertical-align: top;
}

.benefits__content {
    display: inline-block;
    max-width: 332px;
}

.benefits__content>*:last-child {
    margin-bottom: 0;
}

.benefits__block-title {
    font-size: 25px;
    margin-bottom: 15px;
}

.title-color {
    color: #40DDB6;
    margin-bottom: 21px;
}

.benefits__list {
    margin-bottom: 16px;
}

.benefits__list li {
    min-height: 27px;
    font-size: 18px;
}

.benefits__list li::before {
    content: "";
    width: 27px;
    height: 27px;
    background: url('../img/consulting/li.svg') center / 27px 27px no-repeat;
    margin-right: 8px;
    vertical-align: middle;
}

.benefits__list li:not(:last-child) {
    margin-bottom: 30px;
}

/* ---------------- BUSINESS ------------------------- */

.business {
    max-width: 695px;
    padding: 10px;
    margin: 0 auto 100px;
}

.business>*:last-child {
    margin-bottom: 0;
}

.deco-title {
    font-weight: 500;
    color: #37393F;
    text-transform: capitalize;
    margin-bottom: 16px;
}

.deco-title::before {
    content: "";
    width: 12px;
    height: 12px;
    background-color: #40DDB6;
    margin-right: 6px;
}

.business__title,
.work__title {
    font-family: "Poppins", sans-serif;
    font-size: 40px;
    font-weight: 700;
    line-height: 1.21;
    color: #37393F;
    text-transform: capitalize;
}

.business__title {
    margin-bottom: 10px;
}

.business__text,
.business__list {
    margin-bottom: 48px;
}


.business__item {
    border: 1px solid #E3E3E3;
    padding: 28px 41px 28px 38px;
    font-size: 20px;
}

.business__item::before {
    content: "";
    width: 27px;
    height: 27px;
    background: url('../img/consulting/li.svg') center / 27px 27px no-repeat;
    vertical-align: middle;
    margin-right: 19px;
    margin-top: -3px;
}

.business__item:not(:last-child) {
    margin-bottom: 31px;
}

.business__list-text {
    font-family: "Inter", sans-serif;
    font-size: 18px;
    color: #7D7D7D;
    font-weight: 400;
    margin-top: 12px;
    padding-left: 50px;
}

.business__btn {
    padding: 21px 35px;
    font-weight: 600;
    text-transform: capitalize;
    color: #fff;
    background-color: #6B77E5;
    margin-bottom: 20px;
}

.business__btn:hover {
    background-color: #4a58d5;
}

/* --------------------- WORK --------------------------- */

.work {
    max-width: 1240px;
    padding: 10px;
    margin: 0 auto 100px;
}


.work .deco-title {
    text-align: center;
}

.work__title {
    text-align: center;
    margin-bottom: 77px;
}

.work__wrapper {
    font-size: 0;
}

.work__item {
    display: inline-block;
    max-width: 386px;
    padding: 58px 43px;
    background-color: #F4F4F4;
    text-align: center;
}

.work__item:not(:last-child) {
    margin-right: 30px;
    margin-bottom: 60px;
}

.work__item>*:last-child {
    margin-bottom: 0;
}

.work__item::before {
    content: "";
    width: 72px;
    height: 72px;
    border-radius: 50%;
    margin: -95px auto 58px;
}

.item-1::before {
    content: "";
    background: url("../img/consulting/item-1.png") center top / 72px 72px no-repeat;
}

.item-2::before {
    content: "";
    background: url("../img/consulting/item-2.png") center top / 72px 72px no-repeat;
}

.item-3::before {
    content: "";
    background: url("../img/consulting/item-3.png") center top / 72px 72px no-repeat;
}

.work__item-title {
    font-size: 25px;
    margin-bottom: 16px;
}

.work__text {
    font-size: 18px;
    margin-bottom: 37px;
}

.work__text p {
    margin-bottom: 10px;
    line-height: 1.46;
}

.work__link {
    color: #6B77E5;
    font-size: 18px;
    padding: 10px;
    margin-bottom: 16px;
}

.work__link:hover {
    text-decoration: underline;
}

/* ---------------- JEWEL -------------------- */

.jewel {
    max-width: 1620px;
    padding: 10px;
    margin: 0 auto 100px;
    font-family: "Cormorant Infant", serif;
    color: #000;
}


.jewel__wrapper {
    font-size: 0;
}

.jewel__title {
    font-size: 60px;
    line-height: 1.15;
    display: inline-block;
    max-width: 488px;
    margin-right: 3px;
    vertical-align: top;
    margin-top: 118px;
}

.jewel__title::after {
    content: "";
    width: 60%;
    height: 3px;
    background-color: #78473B;
}

.jewel__block {
    display: inline-block;
}

.jewel__block:not(:last-child) {
    margin-right: 65px;
}


.block-1 {
    margin-top: 32px;
    vertical-align: top;
}

.jewel__block-img {
    max-width: 334px;
    max-height: 381px;
    border: 1px solid #000;
    margin-bottom: 34px;
}

.jewely__block-link:hover .jewel__block-img {
    border: none;
    opacity: .75;
}

.jewely__block-link:hover img {
    box-shadow: 3px 3px 10px #000;
}

.jewely__block-link:hover .jewel__block-subtitle,
.jewely__block-link:hover span {
    text-decoration: underline;
}

.jewel__block-img img {
    margin-top: 9px;
    margin-left: 10px;

}


.jewel__block-title {
    max-width: 339px;
    line-height: 1.13;
    margin-bottom: 31px;
    font-size: 46px;
}

.jewel__block-subtitle,
.jewel__block span {
    font-size: 24px;
    margin-bottom: 4px;
    line-height: 1.4;
}




/* ------------------ FOOTER ------------------- */
.footer .list {
    padding: 25px 10px 20px;
}

.footer li {
    display: inline-block;
}

.footer li:not(:last-child) {
    margin-right: 10px;
}