@charset "UTF-8";
/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:regular,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:700&display=swap");
/* Скидання стилів */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

select {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Merriweather", serif;
  font-size: 20px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: clip;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

[class*=__container] {
  max-width: 1200px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #FEFBF7;
}
.header__container {
  padding-bottom: 5px;
  padding-top: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
  min-height: 100px;
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 50px;
  }
}
.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  position: relative;
  z-index: 5;
}
@media (max-width: 991.98px) {
  .header__logo {
    font-size: 30px;
  }
}
@media (max-width: 475px) {
  .header__logo {
    font-size: 26px;
  }
}
@media (max-width: 375px) {
  .header__logo {
    font-size: 21px;
  }
}
.header__actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
}
@media (max-width: 991.98px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 80px 15px 30px;
    background-color: #FEFBF7;
    overflow: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: right;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 50px;
    background-color: rgb(245, 152, 91);
    z-index: 5;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 8px;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
}
@media (max-width: 991.98px) {
  .menu__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    gap: 28px;
  }
}
.menu__item:hover > .menu__link {
  color: #D58417;
}
.menu__item--active > .menu__link {
  font-weight: 700;
  color: #D58417;
  text-decoration: underline;
}
.menu__item--parent {
  position: relative;
}
.menu__item--parent > .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.menu__item--parent > .menu__link::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  width: 16px;
  height: 8px;
  background: url("../img/arrow-down.svg") center/cover no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.menu__item--parent:hover > .menu__link::after {
  -webkit-transform: rotate(-180deg);
      -ms-transform: rotate(-180deg);
          transform: rotate(-180deg);
}
.menu__item--parent:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}
@media (max-width: 991.98px) {
  .menu__item--parent > .menu__link::after {
    display: none;
  }
}
.menu__link {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991.98px) {
  .menu__link {
    font-size: 32px;
  }
}

.sub-menu {
  position: absolute;
  padding-top: 5px;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10%);
      -ms-transform: translate(0, 10%);
          transform: translate(0, 10%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991.98px) {
  .sub-menu {
    position: relative;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    pointer-events: all;
    padding-top: 10px;
  }
}
.sub-menu__list {
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  background-color: #ff934a;
}
@media (max-width: 991.98px) {
  .sub-menu__list {
    border-radius: 0px;
    background-color: transparent;
    padding: 10px 0;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 991.98px) {
  .sub-menu__item:not(:last-child) {
    margin-bottom: 20px;
  }
}
.sub-menu__link {
  font-size: 18px;
  position: relative;
  padding-bottom: 5px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.sub-menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 2px solid #000;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
.sub-menu__link:hover::after {
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
}
@media (max-width: 991.98px) {
  .sub-menu__link {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
  }
  .sub-menu__link:hover {
    color: #ff934a;
  }
  .sub-menu__link:hover::after {
    border-color: #ff934a;
  }
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
}
.actions-header__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 32px;
          flex: 0 0 32px;
  width: 32px;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .actions-header__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }
}
.actions-header__item span {
  position: absolute;
  top: 0;
  right: 0;
  min-width: 12px;
  font-size: 9px;
  line-height: 12px;
  text-align: center;
  color: #fff;
  background-color: #FF3333;
  border-radius: 50%;
}

.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    width: 30px;
    height: 18px;
    position: relative;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    position: absolute;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
}

.open-menu body {
  overflow: hidden;
}
.open-menu .menu__body {
  left: 0;
}
.open-menu .menu__body::before {
  left: 0;
}
.open-menu .icon-menu span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}
.open-menu .icon-menu::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px;
}
.open-menu .icon-menu::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 50%;
  margin-bottom: -1px;
}

@media (min-width: 475px) {
  .page__hero {
    position: relative;
  }
  .page__hero::before, .page__hero::after {
    position: absolute;
    content: "";
    width: 474px;
    height: 374px;
  }
  .page__hero::before {
    top: 50px;
    left: -250px;
    background: url("../img/decor-left.svg") center/470px 374px no-repeat;
  }
  .page__hero::after {
    top: 325px;
    right: -220px;
    background: url("../img/decor-left.svg") center/470px 374px no-repeat;
    -webkit-transform: rotate(-25deg);
        -ms-transform: rotate(-25deg);
            transform: rotate(-25deg);
  }
}

.hero {
  padding: 200px 0px 55px;
  font-family: "Cormorant Infant", serif;
  color: #fff;
  background-color: #502203;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 991.98px) {
  .hero {
    padding: 90px 0px 40px;
  }
}
.hero__bg-left, .hero__bg-right {
  display: none;
}
.hero__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
@media (min-width: 1200px) {
  .hero__container {
    position: relative;
  }
  .hero__container > .hero__bg-left {
    display: block;
    position: absolute;
    bottom: -59px;
    left: -181px;
    border-radius: 195px 195px 0 0;
    border: 1px solid #fff;
    max-width: 239px;
  }
  .hero__container > .hero__bg-left img {
    aspect-ratio: 239/215;
    -o-object-fit: cover;
       object-fit: cover;
    -webkit-transform: translate(6px, 4px);
        -ms-transform: translate(6px, 4px);
            transform: translate(6px, 4px);
    border-radius: 195px 195px 0 0;
  }
  .hero__container > .hero__bg-right {
    position: absolute;
    display: block;
    bottom: 0;
    right: -310px;
    border: 1px solid #fff;
    border-radius: 215px;
    padding: 17px 12px;
    z-index: 1;
    max-width: 263px;
  }
  .hero__container > .hero__bg-right img {
    aspect-ratio: 237/337;
    -o-object-fit: cover;
       object-fit: cover;
    border-radius: 215px;
  }
}
@media (max-width: 991.98px) {
  .hero__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    row-gap: 40px;
  }
}
.hero__body {
  position: relative;
  z-index: 1;
}
.hero__body > * {
  margin-bottom: 9px;
}
.hero__body > *:last-child {
  margin-bottom: 0;
}
@media (min-width: 992px) {
  .hero__body {
    -ms-flex-preferred-size: 31.625%;
        flex-basis: 31.625%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
    padding-top: 57px;
    padding-right: 30px;
  }
}
@media (max-width: 991.98px) {
  .hero__body {
    text-align: center;
  }
}
.hero__title {
  font-size: 78px;
  font-weight: 700;
  line-height: 1.29;
}
@media (max-width: 991.98px) {
  .hero__title {
    font-size: 68px;
  }
}
@media (max-width: 640px) {
  .hero__title {
    font-size: 51px;
  }
}
@media (max-width: 475px) {
  .hero__title {
    font-size: 42px;
  }
}
@media (max-width: 375px) {
  .hero__title {
    font-size: 36px;
  }
}
.hero__btn {
  padding: 15px 25px;
  font-size: 24px;
  border-radius: 4px;
  border: 1px solid #FFF;
  position: relative;
}
.hero__btn::after {
  content: "";
  position: absolute;
  top: 12px;
  left: -8px;
  width: 100%;
  height: 100%;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.06);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .hero__btn:hover::after {
    top: 0;
    left: 0;
  }
}
.hero__image {
  padding: 20px 28px;
  border: 1px solid #fff;
  border-radius: 215px;
  z-index: 1;
  max-width: 448px;
}
.hero__image img {
  aspect-ratio: 390/554;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 215px;
}
@media (min-width: 992px) {
  .hero__image {
    -ms-flex-preferred-size: 36.75%;
        flex-basis: 36.75%;
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
@media (min-width: 992px) {
  .hero__content {
    -ms-flex-preferred-size: 31.625%;
        flex-basis: 31.625%;
    padding-top: 76px;
    padding-left: 23px;
  }
}

.content-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  row-gap: 20px;
}
@media (max-width: 991.98px) {
  .content-hero {
    padding-top: 0;
    padding-left: 0;
  }
}
.content-hero__text {
  font-size: 22px;
  font-weight: 700;
  line-height: 1.48;
}
.content-hero__text p:not(:last-child) {
  margin-bottom: 10px;
}
@media (min-width: 1201px) {
  .content-hero__text {
    padding-right: 32px;
  }
}
@media (max-width: 375px) {
  .content-hero__text {
    font-size: 18px;
  }
}
.content-hero__item {
  -ms-flex-item-align: end;
      align-self: flex-end;
  font-size: 32px;
  line-height: 1.2;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.content-hero__item::before {
  content: "";
  width: 1px;
  height: 80%;
  background: #fff;
}
@media (min-width: 1201px) {
  .content-hero__item {
    margin-right: -31px;
  }
}
@media (min-width: 992px) {
  .content-hero__item {
    margin: auto 0px;
  }
}
@media (max-width: 1250px) {
  .content-hero__item {
    margin-right: 0px;
  }
}
@media (max-width: 991.98px) {
  .content-hero__item {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 0px;
  }
  .content-hero__item::before {
    height: 60px;
  }
}
@media (max-width: 375px) {
  .content-hero__item {
    font-size: 26px;
  }
}

.footer {
  background-color: #5A2E17;
}
.footer__container {
  padding: 20px;
  font-family: "Poppins";
  font-size: 24px;
  text-transform: uppercase;
  color: #D5842C;
  text-align: center;
}