@charset "UTF-8";
/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Cormorant+Infant:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Merriweather:regular,700,700italic&display=swap");
@import url("https://fonts.googleapis.com/css?family=Inter:regular&display=swap");
@import url("https://fonts.googleapis.com/css?family=DM+Serif+Text:regular&display=swap");
/* Скидання стилів */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

select {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

body {
  font-family: "Merriweather", serif;
  font-size: 20px;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: clip;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}

.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1200px;
  padding: 5px 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 5;
  background-color: #FEFBF7;
}
.header__container {
  min-height: 100px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 15px;
}
@media (max-width: 992px) {
  .header__container {
    min-height: 50px;
  }
}
@media (max-width: 375px) {
  .header__container {
    gap: 8px;
  }
}
.header__logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  font-size: 30px;
  font-weight: 700;
  font-style: italic;
  z-index: 5;
}
@media (max-width: 475px) {
  .header__logo {
    font-size: 26px;
  }
}
@media (max-width: 375px) {
  .header__logo {
    font-size: 22px;
  }
}
.header__actions {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}
@media (max-width: 992px) {
  .menu__body {
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100%;
    padding: 80px 15px 55px;
    background-color: #FEFBF7;
    overflow: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    text-align: right;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 50px;
    background-color: rgb(245, 152, 91);
    z-index: 5;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 8px;
  -webkit-column-gap: 36px;
     -moz-column-gap: 36px;
          column-gap: 36px;
}
@media (max-width: 992px) {
  .menu__list {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: flex-end;
    text-align: right;
    gap: 20px;
  }
}
.menu__item--active > .menu__link {
  font-weight: 700;
  color: #D58417;
  text-decoration: underline;
}
.menu__item--parent {
  position: relative;
}
.menu__item--parent > .menu__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  gap: 4px;
}
.menu__item--parent > .menu__link::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 16px;
          flex: 0 0 16px;
  width: 16px;
  height: 8px;
  background: url("../img/arrow-down.svg") center/cover no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .menu__item--parent:hover > .menu__link {
    color: #D58417;
  }
  .menu__item--parent:hover > .menu__link::after {
    -webkit-transform: rotate(-180deg);
        -ms-transform: rotate(-180deg);
            transform: rotate(-180deg);
  }
}
@media (any-hover: hover) {
  .menu__item--parent:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    pointer-events: all;
  }
}
@media (max-width: 992px) {
  .menu__item--parent > .menu__link::after {
    display: none;
  }
}
.menu__link {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .menu__link {
    font-size: 32px;
  }
}

.sub-menu {
  position: absolute;
  padding-top: 5px;
  top: 100%;
  left: 0;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10%);
      -ms-transform: translate(0, 10%);
          transform: translate(0, 10%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 992px) {
  .sub-menu {
    position: relative;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    pointer-events: all;
  }
}
.sub-menu__list {
  width: 200px;
  padding: 15px;
  border-radius: 10px;
  background-color: rgba(255, 147, 74, 0.88);
  -webkit-box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.5);
}
@media (max-width: 992px) {
  .sub-menu__list {
    border-radius: 0px;
    background-color: transparent;
    -webkit-box-shadow: none;
            box-shadow: none;
    padding: 10px 0;
    width: 100%;
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    gap: 5px;
  }
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 10px;
}
@media (any-hover: hover) {
  .sub-menu__item:hover > .sub-menu__link::after {
    width: 100%;
    left: 0;
  }
}
@media (max-width: 992px) {
  .sub-menu__item {
    margin-bottom: 0;
  }
}
@media (max-width: 992px) and (any-hover: hover) {
  .sub-menu__item:hover > .sub-menu__link {
    text-decoration: none;
  }
  .sub-menu__item:hover > .sub-menu__link::after {
    width: 100%;
    left: 0;
  }
}
.sub-menu__link {
  font-size: 18px;
  position: relative;
  padding-bottom: 8px;
}
.sub-menu__link::after {
  content: "";
  position: absolute;
  bottom: 0;
  left: 50%;
  height: 2px;
  width: 0;
  background-color: #000;
  -webkit-transition: all 0.35s ease-in-out;
  transition: all 0.35s ease-in-out;
}
@media (max-width: 992px) {
  .sub-menu__link {
    font-size: 24px;
    color: rgba(0, 0, 0, 0.7);
  }
  .sub-menu__link::after {
    background-color: #D58417;
  }
}

.actions-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 23px;
     -moz-column-gap: 23px;
          column-gap: 23px;
}
.actions-header__item {
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .actions-header__item:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
    cursor: pointer;
  }
}
.actions-header__item span {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 9px;
  text-align: center;
  color: #fff;
  background-color: #FF3333;
  width: 12px;
  height: 12px;
  border-radius: 50%;
}

.icon-menu {
  display: none;
}
@media (max-width: 992px) {
  .icon-menu {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    width: 30px;
    height: 18px;
    position: relative;
    display: block;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: #000;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .icon-menu::before {
    top: 0;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
}

.open-menu .menu__body {
  left: 0;
}
.open-menu .menu__body::before {
  left: 0;
}
.open-menu .icon-menu::before {
  -webkit-transform: rotate(-45deg);
      -ms-transform: rotate(-45deg);
          transform: rotate(-45deg);
  top: 50%;
  margin-top: -1px;
}
.open-menu .icon-menu::after {
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
          transform: rotate(45deg);
  bottom: 50%;
  margin-bottom: -1px;
}
.open-menu .icon-menu span {
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
}

.page__hero {
  background: url("../img/decor-right.svg") 125% 60%/470px 374px no-repeat, url("../img/decor-left.svg") -250px 30px/470px 374px no-repeat, #502203;
}
@media (max-width: 992px) {
  .page__hero {
    background: #502203;
  }
}

.hero {
  font-family: "Cormorant Infant", serif;
  color: #fff;
}
.hero__bg-left, .hero__bg-right {
  display: none;
}
.hero__container {
  padding: 200px 15px 55px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media (max-width: 992px) {
  .hero__container {
    padding: 90px 15px 55px;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    gap: 30px;
  }
}
@media (min-width: 1200px) {
  .hero__container {
    position: relative;
  }
  .hero__container > .hero__bg-left {
    display: block;
    position: absolute;
    bottom: 2px;
    left: -80px;
    border-radius: 195px 195px 0 0;
    border: 1px solid #fff;
    max-width: 100%;
  }
  .hero__container > .hero__bg-left img {
    -webkit-transform: translate(6px, 4px);
        -ms-transform: translate(6px, 4px);
            transform: translate(6px, 4px);
  }
  .hero__container > .hero__bg-right {
    position: absolute;
    display: block;
    bottom: 55px;
    right: -280px;
    border: 1px solid #fff;
    border-radius: 215px;
    padding: 17px 12px;
  }
}
.hero__body {
  -ms-flex-preferred-size: 31.625%;
      flex-basis: 31.625%;
  padding-top: 57px;
  padding-right: 30px;
  text-align: center;
}
.hero__body > * {
  margin-bottom: 9px;
}
.hero__body > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 992px) {
  .hero__body {
    padding-top: 0;
    padding-right: 0;
  }
}
.hero__title {
  font-size: 78px;
  font-weight: 700;
  line-height: 1.29;
}
@media (max-width: 767.98px) {
  .hero__title {
    font-size: 76px;
  }
}
@media (max-width: 680px) {
  .hero__title {
    font-size: 58px;
  }
}
@media (max-width: 530px) {
  .hero__title {
    font-size: 50px;
  }
}
@media (max-width: 475px) {
  .hero__title {
    font-size: 39px;
  }
}
@media (max-width: 375px) {
  .hero__title {
    font-size: 32px;
  }
}
.hero__btn {
  font-size: 24px;
  padding: 15px 25px;
  border-radius: 4px;
  border: 1px solid #FFF;
  position: relative;
}
.hero__btn::after {
  content: "";
  position: absolute;
  width: 100%;
  height: 100%;
  top: 12px;
  left: -8px;
  border-radius: 4px;
  background: rgba(255, 255, 255, 0.06);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .hero__btn:hover::after {
    top: 0;
    left: 0;
  }
}
.hero__image {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  -ms-flex-preferred-size: 36.75%;
      flex-basis: 36.75%;
}
.hero__image img {
  border-radius: 215px;
  aspect-ratio: 390px/554px;
  -o-object-fit: cover;
     object-fit: cover;
  border: 1px solid #fff;
  padding: 20px 28px;
}
.hero__content {
  -ms-flex-preferred-size: 31.625%;
      flex-basis: 31.625%;
  padding-top: 76px;
  padding-left: 23px;
}

.content-hero {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 15px;
}
@media (max-width: 992px) {
  .content-hero {
    padding-top: 0;
    padding-left: 0;
  }
}
.content-hero__text {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  padding-right: 32px;
  font-size: 22px;
  font-weight: 700;
  line-height: 1.48;
}
.content-hero__text p:not(:last-child) {
  margin-bottom: 10px;
}
@media (max-width: 992px) {
  .content-hero__text {
    padding-right: 0;
  }
}
@media (max-width: 375px) {
  .content-hero__text {
    padding-right: 0;
    font-size: 20px;
  }
}
.content-hero__item {
  font-size: 32px;
  line-height: 1.2;
  margin-bottom: 183px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.content-hero__item::before {
  content: "";
  width: 1px;
  height: 60px;
  background: #fff;
}
@media (min-width: 1201px) {
  .content-hero__item {
    margin-right: -31px;
  }
}
@media (max-width: 1250px) {
  .content-hero__item {
    margin-right: 0;
  }
}
@media (max-width: 992px) {
  .content-hero__item {
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 0;
  }
}
@media (max-width: 475px) {
  .content-hero__item {
    font-size: 26px;
  }
}

.footer {
  background-color: #FEFBF7;
}
.footer__container {
  min-height: 100px;
  padding: 5px 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}