@charset "UTF-8";
/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:600&display=swap");
/* Скидання стилів */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

select {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address {
  font-style: normal;
}

details summary {
  list-style: none;
  list-style-type: none;
  display: none;
}
details summary::-webkit-details-market {
  display: none !important;
}

/* Міксини */
/* Функції */
body {
  font-family: "Inter", sans-serif;
}
.open-menu body {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: clip;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 78.125rem;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 50;
}
.header__container.header__container--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.1428571429em;
     -moz-column-gap: 2.1428571429em;
          column-gap: 2.1428571429em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.0714285714em;
}
.header__top {
  font-size: 0.875rem;
  padding-top: 1.25em;
  padding-bottom: 1.25em;
  color: #fff;
  background-color: #37393f;
}
.header__addres {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3em;
     -moz-column-gap: 3em;
          column-gap: 3em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.7142857143em;
}
.header__addres a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.6428571429em;
     -moz-column-gap: 0.6428571429em;
          column-gap: 0.6428571429em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .header__mail:hover {
    color: #B9B9B9;
  }
}
.header__block {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.5714285714em;
     -moz-column-gap: 3.5714285714em;
          column-gap: 3.5714285714em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.7142857143em;
}
.header__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.2857142857em;
     -moz-column-gap: 0.2857142857em;
          column-gap: 0.2857142857em;
}
.header__socials {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.1428571429em;
     -moz-column-gap: 1.1428571429em;
          column-gap: 1.1428571429em;
}
.header__socail-link {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .header__socail-link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.header__body {
  font-size: 1.125rem;
  padding-top: 1.8333333333em;
  padding-bottom: 1.8333333333em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.5555555556em;
     -moz-column-gap: 0.5555555556em;
          column-gap: 0.5555555556em;
}
.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
}
.header__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.2222222222em;
     -moz-column-gap: 2.2222222222em;
          column-gap: 2.2222222222em;
}
.header__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.2222222222em;
     -moz-column-gap: 2.2222222222em;
          column-gap: 2.2222222222em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.5555555556em;
}
.header__item {
  color: #37393f;
}
.header__item.header__item--parent {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.4375em;
     -moz-column-gap: 0.4375em;
          column-gap: 0.4375em;
  position: relative;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
.header__item.header__item--parent::after {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 0.5rem;
          flex: 0 0 0.5rem;
  width: 0.5rem;
  height: 0.25rem;
  background: url("../img/header/icon/arrow-down.svg") center/cover no-repeat;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .header__item:hover::after {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@media (any-hover: hover) {
  .header__item:hover .header__link {
    color: #B9B9B9;
  }
}
.header__consulting {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #6B77E5;
  padding: 1.1666666667em 1.9444444444em;
  font-weight: 600;
  min-height: 3.6111111111em;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0.0625rem solid transparent;
}
@media (any-hover: hover) {
  .header__consulting:hover {
    color: #6B77E5;
    background-color: #fff;
    border: 0.0625rem solid #6B77E5;
  }
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  padding-top: 0.3125rem;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10%);
      -ms-transform: translate(0, 10%);
          transform: translate(0, 10%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .header__item--parent:hover .sub-menu {
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    pointer-events: all;
  }
}
.sub-menu__list {
  width: 9.375rem;
  padding: 0.9375rem;
  background-color: #B9B9B9;
  border-radius: 0.25rem;
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 0.625rem;
}
.sub-menu__link {
  font-size: 1rem;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  text-decoration-color: transparent;
}
@media (any-hover: hover) {
  .sub-menu__link:hover {
    text-decoration: underline;
    text-decoration-color: #37393f;
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}