@charset "UTF-8";
/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Inter:regular,500,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:300,600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Roboto:700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Cabin:600&display=swap");
/* Скидання стилів */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

select {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address {
  font-style: normal;
}

details summary {
  list-style: none;
  list-style-type: none;
  display: none;
}
details summary::-webkit-details-market {
  display: none !important;
}

/* Міксини */
/* Функції */
body {
  font-family: "Inter", sans-serif;
}
.open-menu body {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: clip;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 78.125rem;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 50;
}
.header__top {
  font-size: 0.875rem;
  padding-top: 20px;
  padding-bottom: 20px;
  color: #fff;
  background-color: #37393f;
  position: relative;
  z-index: 1;
}
@media (max-width: 63.99875em) {
  .header__top {
    display: none;
  }
}
.header__top .header__container--top {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.1428571429em;
     -moz-column-gap: 2.1428571429em;
          column-gap: 2.1428571429em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 1.0714285714em;
}
.header__addres {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3em;
     -moz-column-gap: 3em;
          column-gap: 3em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.7142857143em;
}
.header__addres a {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.6428571429em;
     -moz-column-gap: 0.6428571429em;
          column-gap: 0.6428571429em;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .header__mail:hover {
    color: #b9b9b9;
  }
}
.header__block {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 3.5714285714em;
     -moz-column-gap: 3.5714285714em;
          column-gap: 3.5714285714em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.7142857143em;
}
.header__time {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 0.2857142857em;
     -moz-column-gap: 0.2857142857em;
          column-gap: 0.2857142857em;
}
.header__socials {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.1428571429em;
     -moz-column-gap: 1.1428571429em;
          column-gap: 1.1428571429em;
}
.header__socail-link {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .header__socail-link:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}
.header__body {
  font-size: 1.125rem;
  padding-top: 1.8333333333em;
  padding-bottom: 1.8333333333em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 1.6666666667em;
     -moz-column-gap: 1.6666666667em;
          column-gap: 1.6666666667em;
}
@media (max-width: 61.99875em) {
  .header__body {
    font-size: 1rem;
  }
}
@media (max-width: 29.43625em) {
  .header__body {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 0.9375em;
  }
}
.header__logo {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  width: auto;
  position: relative;
  z-index: 1;
}
.header__consulting {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
  background-color: #6b77e5;
  padding: 1.1666666667em 1.9444444444em;
  font-weight: 600;
  min-height: 3.6111111111em;
  color: #fff;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border: 0.0625rem solid transparent;
  position: relative;
  z-index: 1;
}
@media (max-width: 74.99875em) {
  .header__consulting {
    font-size: 1rem;
  }
}
@media (max-width: 63.99875em) {
  .header__consulting {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 47.99875em) {
  .header__consulting {
    font-size: 0.875rem;
  }
}
@media (max-width: 29.43625em) {
  .header__consulting {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 23.43625em) {
  .header__consulting {
    width: 100%;
    text-align: center;
  }
}
@media (any-hover: hover) {
  .header__consulting:hover {
    color: #6b77e5;
    background-color: #fff;
    border: 0.0625rem solid #6b77e5;
  }
}

@media (max-width: 63.99875em) {
  .menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 29.43625em) {
  .menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 63.99875em) {
  .menu__body {
    font-size: 1rem;
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 100vh;
    background-color: #b9b9b9;
    padding: 8.125rem 0.9375rem 1.875rem;
    overflow: auto;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .menu__body::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    height: 7.6875em;
    background-color: #7d7d7d;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media (max-width: 63.99875em) and (max-width: 47.99875em) {
  .menu__body::before {
    font-size: 0.875rem;
  }
}
@media (max-width: 63.99875em) and (max-width: 29.43625em) {
  .menu__body::before {
    height: 10.1875rem;
  }
}
@media (max-width: 63.99875em) {
  .open-menu .menu__body {
    left: 0;
  }
  .open-menu .menu__body::before {
    left: 0;
  }
}
@media (max-width: 29.43625em) {
  .menu__body {
    padding-top: 11.4375em;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 2.2222222222em;
     -moz-column-gap: 2.2222222222em;
          column-gap: 2.2222222222em;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 0.5555555556em;
}
@media (max-width: 74.99875em) {
  .menu__list {
    font-size: 1rem;
  }
}
@media (max-width: 63.99875em) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    font-size: 1.875rem;
    row-gap: 1em;
  }
}
.menu__item {
  color: #37393f;
}
.menu__item.menu__item--parent {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (min-width: 63.99875em) {
  .menu__item.menu__item--parent {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-column-gap: 0.4375em;
       -moz-column-gap: 0.4375em;
            column-gap: 0.4375em;
    position: relative;
  }
  .menu__item.menu__item--parent::after {
    content: "";
    -webkit-box-flex: 0;
        -ms-flex: 0 0 0.5rem;
            flex: 0 0 0.5rem;
    width: 0.5rem;
    height: 0.25rem;
    background: url("../img/header/icon/arrow-down.svg") center/cover no-repeat;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
}
@media (any-hover: hover) {
  .menu__item:hover::after {
    -webkit-transform: rotate(-90deg);
        -ms-transform: rotate(-90deg);
            transform: rotate(-90deg);
  }
}
@media (any-hover: hover) {
  .menu__item:hover .menu__link {
    color: #6b77e5;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 63.99875em) {
  .icon-menu {
    display: block;
    width: 1.875rem;
    height: 1.125rem;
    position: relative;
    cursor: pointer;
    z-index: 2;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    position: absolute;
    content: "";
    width: 100%;
    height: 0.125em;
    left: 0;
    background-color: #37393f;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -0.0625em;
  }
  .open-menu .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
  .icon-menu::before {
    top: 0;
  }
  .open-menu .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -0.0625em;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .open-menu .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -0.0625em;
  }
}

.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  font-size: 1rem;
  padding-top: 0.3125em;
  opacity: 0;
  visibility: hidden;
  -webkit-transform: translate(0, 10%);
      -ms-transform: translate(0, 10%);
          transform: translate(0, 10%);
  pointer-events: none;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 63.99875em) {
  .sub-menu {
    position: relative;
    opacity: 1;
    visibility: visible;
    -webkit-transform: translate(0, 0);
        -ms-transform: translate(0, 0);
            transform: translate(0, 0);
    pointer-events: all;
    font-size: 1.375rem;
    padding-top: 0.625em;
  }
}
.menu__item--parent:hover .sub-menu {
  opacity: 1;
  visibility: visible;
  -webkit-transform: translate(0, 0);
      -ms-transform: translate(0, 0);
          transform: translate(0, 0);
  pointer-events: all;
}
@media (min-width: 63.99875em) {
  .sub-menu__list {
    width: 9.375em;
    padding: 0.9375em;
    background-color: #b9b9b9;
    border-radius: 0.25em;
  }
}
@media (max-width: 63.99875em) {
  .sub-menu__list {
    text-align: right;
  }
}
.sub-menu__item:not(:last-child) {
  margin-bottom: 0.625em;
}
@media (max-width: 63.99875em) {
  .sub-menu__item {
    font-size: 1.375rem;
  }
}
.sub-menu__link {
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .sub-menu__link:hover {
    color: #fff;
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}