@charset "UTF-8";
/* Підключення шрифтів */
@import url("https://fonts.googleapis.com/css?family=Merriweather:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");
@font-face {
  font-family: "Mintaka";
  src: url("../fonts/Mintaka.woff2") format(woff2), url("../fonts/Mintaka.woff") format(woff);
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Light.woff2") format(woff2), url("../fonts/Causten-Light.woff") format(woff);
  font-weight: 300;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Regular.woff2") format(woff2), url("../fonts/Causten-Regular.woff") format(woff);
  font-weight: 400;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/Causten-Medium.woff2") format(woff2), url("../fonts/Causten-Medium.woff") format(woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-semi-bold.woff2") format(woff2), url("../fonts/causten-semi-bold.woff") format(woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Causten";
  src: url("../fonts/causten-bold.woff2") format(woff2), url("../fonts/causten-bold.woff") format(woff);
  font-weight: 700;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-55Medium.woff2") format(woff2), url("../fonts/CoreSansC-55Medium.woff") format(woff);
  font-weight: 500;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-65Bold.woff2") format(woff2), url("../fonts/CoreSansC-65Bold.woff") format(woff);
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "CoreSansC";
  src: url("../fonts/CoreSansC-85Heavy.woff2") format(woff2), url("../fonts/CoreSansC-85Heavy.woff") format(woff);
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}
/* Скидання стилів */
*,
*::before,
*::after {
  padding: 0;
  margin: 0;
  border: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*::before,
*::after {
  display: inline-block;
}

a {
  text-decoration: none;
  color: inherit;
  display: inline-block;
}

li {
  list-style: none;
}

img {
  max-width: 100%;
  vertical-align: top;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  font-weight: inherit;
  font-size: inherit;
}

html,
body {
  line-height: 1;
  height: 100%;
}

/* FORM */
input,
button,
textarea {
  font-family: inherit;
  font-size: inherit;
  line-height: inherit;
}

button {
  cursor: pointer;
  color: inherit;
  background-color: transparent;
}

select {
  cursor: pointer;
}

input[type=text],
input[type=email],
input[type=tel],
textarea,
summary {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

address {
  font-style: normal;
}

details summary {
  list-style: none;
  list-style-type: none;
  display: none;
}
details summary::-webkit-details-market {
  display: none !important;
}

/* Міксини */
body {
  font-family: "Causten", sans-serif;
  font-size: 20px;
  color: #3c4242;
}
.open-menu body {
  overflow: hidden;
}

.wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  overflow: clip;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  min-height: 100%;
}
.wrapper > main {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
}

[class*=__container] {
  max-width: 1270px;
  padding-left: 15px;
  padding-right: 15px;
  margin: 0 auto;
}

.header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background-color: #fff;
  z-index: 50;
  border-bottom: 1px solid #bebcbd;
}
.header__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 88px;
     -moz-column-gap: 88px;
          column-gap: 88px;
  min-height: 118px;
  padding-top: 5px;
  padding-bottom: 5px;
}
@media (max-width: 1269.98px) {
  .header__container {
    -webkit-column-gap: 30px;
       -moz-column-gap: 30px;
            column-gap: 30px;
  }
}
@media (max-width: 991.98px) {
  .header__container {
    min-height: 70px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
.header__logo {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 91px;
          flex: 0 0 91px;
  width: 91px;
  z-index: 1;
}
.header__logo img {
  aspect-ratio: 91/45;
  -o-object-fit: cover;
     object-fit: cover;
}
.header__body {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 76px;
     -moz-column-gap: 76px;
          column-gap: 76px;
}
@media (max-width: 1269.98px) {
  .header__body {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .header__body {
    -webkit-box-pack: end;
        -ms-flex-pack: end;
            justify-content: end;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    row-gap: 15px;
  }
}

.menu {
  -webkit-box-flex: 1;
      -ms-flex: 1 1 auto;
          flex: 1 1 auto;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 991.98px) {
  .menu {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0px;
    left: -100%;
    padding: 80px 15px 30px;
    background-color: #f6f6f6;
    overflow: auto;
  }
  .menu::before {
    content: "";
    position: fixed;
    top: 0;
    left: -100%;
    width: 100%;
    min-height: 75px;
    background-color: #01b7dc;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
    z-index: 2;
  }
}
@media (max-width: 991.98px) and (max-width: 651.98px) {
  .menu::before {
    min-height: 107px;
  }
}
@media (max-width: 991.98px) and (max-width: 627.98px) {
  .menu::before {
    min-height: 133px;
  }
}
@media (max-width: 991.98px) and (max-width: 479.98px) {
  .menu::before {
    min-height: 75px;
  }
  .open-input .menu::before {
    min-height: 133px;
  }
}
@media (max-width: 991.98px) and (max-width: 422.98px) {
  .menu::before {
    min-height: 133px;
  }
}
@media (max-width: 991.98px) and (max-width: 358.98px) {
  .open-input .menu::before {
    min-height: 166px;
  }
}
@media (max-width: 991.98px) {
  .open-menu .menu {
    left: 0;
  }
  .open-menu .menu::before {
    left: 0;
  }
}
@media (max-width: 651.98px) {
  .menu {
    padding-top: 140px;
  }
}
@media (max-width: 627.98px) {
  .menu {
    padding-top: 160px;
  }
}
@media (max-width: 479.98px) {
  .menu {
    padding-top: 100px;
  }
  .open-input .menu {
    padding-top: 160px;
  }
}
@media (max-width: 422.98px) {
  .menu {
    padding-top: 160px;
  }
}
@media (max-width: 358.98px) {
  .open-input .menu {
    padding-top: 180px;
  }
}
.menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 39px;
     -moz-column-gap: 39px;
          column-gap: 39px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 10px;
}
@media (max-width: 1199.98px) {
  .menu__list {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
  }
}
@media (max-width: 991.98px) {
  .menu__list {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: end;
        -ms-flex-align: end;
            align-items: end;
    row-gap: 28px;
  }
}
.menu__item {
  font-weight: 500;
  color: #807d7e;
}
.menu__item--action {
  font-weight: 700;
  color: #3c4242;
}
.menu__link {
  font-size: 22px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
  padding-bottom: 3px;
}
.menu__link::after {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  height: 2px;
  background-color: #3c4242;
  -webkit-transform: scale(0);
      -ms-transform: scale(0);
          transform: scale(0);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1199.98px) {
  .menu__link {
    font-size: 20px;
  }
}
@media (max-width: 991.98px) {
  .menu__link {
    font-size: 30px;
  }
}
@media (any-hover: hover) {
  .menu__link:hover {
    color: #3c4242;
  }
  .menu__item:hover .menu__link::after {
    -webkit-transform: scale(1);
        -ms-transform: scale(1);
            transform: scale(1);
  }
}

.form {
  z-index: 2;
  border-radius: 8px;
  outline: 1px solid #f6f6f6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 627.98px) {
  .form {
    -webkit-box-ordinal-group: 2;
        -ms-flex-order: 1;
            order: 1;
  }
}
.form__item {
  max-width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px;
  overflow: hidden;
}
.form__button {
  width: 44px;
  height: 44px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 8px 0 0 8px;
  background-color: #f6f6f6;
}
.form__button img {
  aspect-ratio: 16/16;
  -o-object-fit: cover;
     object-fit: cover;
}
.form__input {
  width: 100%;
  height: 44px;
  padding-left: 12px;
  padding-right: 12px;
  background-color: #f6f6f6;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  border-radius: 0 8px 8px 0;
}
.form__input::-webkit-input-placeholder {
  font-size: 16px;
  color: #807d7e;
}
.form__input::-moz-placeholder {
  font-size: 16px;
  color: #807d7e;
}
.form__input:-ms-input-placeholder {
  font-size: 16px;
  color: #807d7e;
}
.form__input::-ms-input-placeholder {
  font-size: 16px;
  color: #807d7e;
}
.form__input::placeholder {
  font-size: 16px;
  color: #807d7e;
}
@media (max-width: 479.98px) {
  .form__input {
    display: none;
  }
  .open-input .form__input {
    display: inline-block;
  }
}
@media (any-hover: hover) {
  .form:hover {
    outline-color: #807d7e;
  }
}

.actions-header {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 12px;
     -moz-column-gap: 12px;
          column-gap: 12px;
  z-index: 1;
}
@media (max-width: 627.98px) {
  .actions-header {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 479.98px) {
  .actions-header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 422.98px) {
  .actions-header {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
  .open-input .actions-header {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
.actions-header__img {
  width: 44px;
  height: 44px;
  border-radius: 8px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border: 1px solid #f6f6f6;
  -webkit-transition: all 0.4s ease-in-out;
  transition: all 0.4s ease-in-out;
}
.actions-header__img img {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 20px;
          flex: 0 0 20px;
  width: 20px;
}
@media (any-hover: hover) {
  .actions-header__img:hover {
    border-color: #807d7e;
  }
}

.icon-menu {
  display: none;
}
@media (max-width: 991.98px) {
  .icon-menu {
    display: block;
    -webkit-box-flex: 0;
        -ms-flex: 0 0 30px;
            flex: 0 0 30px;
    width: 30px;
    height: 18px;
    position: relative;
    cursor: pointer;
  }
  .icon-menu::before, .icon-menu::after,
  .icon-menu span {
    content: "";
    position: absolute;
    height: 2px;
    width: 100%;
    left: 0;
    background-color: #3c4242;
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .icon-menu::before {
    top: 0;
  }
  .open-menu .icon-menu::before {
    -webkit-transform: rotate(-45deg);
        -ms-transform: rotate(-45deg);
            transform: rotate(-45deg);
    top: 50%;
    margin-top: -1px;
  }
  .icon-menu::after {
    bottom: 0;
  }
  .open-menu .icon-menu::after {
    -webkit-transform: rotate(45deg);
        -ms-transform: rotate(45deg);
            transform: rotate(45deg);
    bottom: 50%;
    margin-bottom: -1px;
  }
  .icon-menu span {
    top: 50%;
    margin-top: -1px;
  }
  .open-menu .icon-menu span {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
  }
}
@media (max-width: 627.98px) {
  .icon-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
}
@media (max-width: 479.98px) {
  .icon-menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}
@media (max-width: 422.98px) {
  .icon-menu {
    -webkit-box-ordinal-group: 3;
        -ms-flex-order: 2;
            order: 2;
  }
  .open-input .icon-menu {
    -webkit-box-ordinal-group: 4;
        -ms-flex-order: 3;
            order: 3;
  }
}

.page {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
.page__hero {
  margin-top: 118px;
  margin-bottom: 130px;
}
@media (max-width: 991.98px) {
  .page__hero {
    margin-top: 76px;
    margin-bottom: 65px;
  }
}
@media (max-width: 649.98px) {
  .page__hero {
    margin-top: 108px;
  }
}
@media (max-width: 627.98px) {
  .page__hero {
    margin-top: 133px;
  }
}
@media (max-width: 479.98px) {
  .page__hero {
    margin-top: 76px;
  }
  .open-input .page__hero {
    margin-top: 133px;
  }
}
@media (max-width: 420.98px) {
  .page__hero {
    margin-top: 133px;
  }
}
@media (max-width: 356.98px) {
  .open-input .page__hero {
    margin-top: 166px;
  }
}
.page__deals, .page__arrival, .page__zone {
  margin-bottom: 100px;
}
@media (max-width: 991.98px) {
  .page__deals, .page__arrival, .page__zone {
    margin-bottom: 50px;
  }
}

.hero {
  position: relative;
}
.hero__image {
  position: absolute;
  top: 0;
  left: 0;
  height: 100%;
  width: 100%;
  background-color: #01b7dc;
}
@media (max-width: 627.98px) {
  .hero__image::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.3);
    border-radius: 0;
  }
}
.hero__image img {
  height: 100%;
  width: 100%;
  aspect-ratio: 1445/716;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: top;
     object-position: top;
}
@media (max-width: 627.98px) {
  .hero__image img {
    -o-object-position: top right;
       object-position: top right;
  }
}
.hero__container {
  position: relative;
  z-index: 2;
  padding: 129px 7% 20px;
}
.hero__arrow {
  position: absolute;
  top: 50%;
  -webkit-transform: translateY(-50%);
      -ms-transform: translateY(-50%);
          transform: translateY(-50%);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 1354.98px) {
  .hero__arrow {
    display: none;
  }
}
.hero__arrow--left {
  left: -42px;
}
@media (any-hover: hover) {
  .hero__arrow--left:hover {
    left: -47px;
  }
}
.hero__arrow--right {
  right: -42px;
}
@media (any-hover: hover) {
  .hero__arrow--right:hover {
    right: -47px;
  }
}
.hero__body {
  font-family: "CoreSansC", sans-serif;
  line-height: 1.2;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.hero__body:not(:last-child) {
  margin-bottom: 73px;
}
@media (max-width: 479.98px) {
  .hero__body {
    text-align: center;
  }
}
.hero__content {
  -webkit-box-flex: 0;
      -ms-flex: 0 1 439px;
          flex: 0 1 439px;
  width: 439px;
}
.hero__content > * {
  margin-bottom: 40px;
}
.hero__content > *:last-child {
  margin-bottom: 0;
}
@media (max-width: 479.98px) {
  .hero__content > * {
    margin-bottom: 20px;
  }
}
.hero__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 15px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media (max-width: 479.98px) {
  .hero__list {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}
.hero__item {
  font-size: 32px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: capitalize;
  letter-spacing: 0.157px;
}
.hero__item:not(:last-child)::after {
  content: "/";
  font-size: 32px;
  padding-left: 15px;
}
@media (max-width: 479.98px) {
  .hero__item {
    font-size: 24px;
  }
}
@media (max-width: 374.98px) {
  .hero__item {
    font-size: 18px;
  }
}
.hero__title {
  font-size: 78px;
  font-weight: 800;
}
@media (max-width: 627.98px) {
  .hero__title {
    font-size: 58px;
  }
}
@media (max-width: 479.98px) {
  .hero__title {
    font-size: 38px;
  }
}
.hero__carusel {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-column-gap: 1px;
     -moz-column-gap: 1px;
          column-gap: 1px;
  padding-bottom: 49px;
}
.hero__indicator {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 62px;
          flex: 0 0 62px;
  width: 62px;
  height: 10px;
  background-color: rgba(255, 255, 255, 0.5);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  cursor: pointer;
}
.hero__indicator:first-child {
  border-radius: 12px 0 0 12px;
}
.hero__indicator:last-child {
  border-radius: 0 12px 12px 0;
}
.hero__indicator--active {
  background-color: #fff;
}
@media (any-hover: hover) {
  .hero__indicator:hover {
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1);
  }
}

.btn {
  font-size: 24px;
  color: #3c4242;
  background-color: #fff;
  border-radius: 8px;
  font-weight: 700;
  padding: 16px 72px;
  font-family: "Causten", sans-serif;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .btn:hover {
    background-color: #3c4242;
    color: #fff;
  }
}

.deals__items {
  display: grid;
  gap: 30px;
}
@media (min-width: 767.98px) {
  .deals__items {
    grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
  }
}
.deals__item {
  padding: 67px 28px 80px;
  background-color: #feba48;
  border-radius: 12px;
  color: #fff;
  -webkit-box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
          box-shadow: 2px 2px 10px 0px rgba(0, 0, 0, 0.4);
  position: relative;
}
.deals__item--padding {
  padding: 67px 30px 56px;
  background-color: #8a33fd;
}
.deals__img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}
@media (min-width: 767.98px) and (max-width: 991.98px) {
  .deals__img::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
@media (max-width: 479.98px) {
  .deals__img::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.deals__img img {
  width: 100%;
  height: 100%;
  aspect-ratio: 605/356;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
}
.deals__body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.deals__content {
  z-index: 10;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 260px;
          flex: 0 0 260px;
  font-family: "CoreSansC", sans-serif;
}
.deals__label {
  font-family: "Montserrat", sans-serif;
  font-size: 18px;
  line-height: 1.66;
  letter-spacing: 0.251px;
}
.deals__label:not(:last-child) {
  margin-bottom: 24px;
}
.deals__title {
  font-size: 34px;
  font-weight: 800;
  line-height: 1.33;
}
.deals__title:not(:last-child) {
  margin-bottom: 9px;
}
@media (max-width: 374.98px) {
  .deals__title {
    font-size: 32px;
  }
}
.deals__sale {
  line-height: 1.57;
  letter-spacing: 0.251px;
}
.deals__sale:not(:last-child) {
  margin-bottom: 42px;
}
.deals__item--padding .deals__sale:not(:last-child) {
  margin-bottom: 30px;
}
.deals__link-item {
  font-weight: 800;
  line-height: 1.23;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  position: relative;
}
.deals__link-item:not(:last-child) {
  margin-bottom: 15px;
}
.deals__link-item::before {
  position: absolute;
  content: "";
  bottom: 0;
  left: 0;
  width: 100%;
  border-bottom: 1px solid #fff;
  -webkit-transform: scale(1);
      -ms-transform: scale(1);
          transform: scale(1);
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .deals__link-item--color.deals__link-item:hover {
    color: #AE91C4;
  }
  .deals__link-item--color.deals__link-item:hover::before {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    border-color: #AE91C4;
  }
}
@media (any-hover: hover) {
  .deals__link-item:hover {
    color: #bb801a;
  }
  .deals__link-item:hover::before {
    -webkit-transform: scale(0);
        -ms-transform: scale(0);
            transform: scale(0);
    border-color: #bb801a;
  }
}

.title {
  font-family: "CoreSansC", sans-serif;
  font-size: 34px;
  font-weight: 600;
  line-height: 1.1;
  color: #3c4242;
  letter-spacing: 0.68px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 20px;
     -moz-column-gap: 20px;
          column-gap: 20px;
}
@media (max-width: 374.98px) {
  .title {
    font-size: 30px;
  }
}
.title::before {
  content: "";
  -webkit-box-flex: 0;
      -ms-flex: 0 0 6px;
          flex: 0 0 6px;
  width: 6px;
  height: 30px;
  border-radius: 10px;
  background-color: #8a33fd;
}
.title--margin:not(:last-child) {
  margin-bottom: 70px;
}
@media (max-width: 991.98px) {
  .title--margin:not(:last-child) {
    margin-bottom: 30px;
  }
}

@media (min-width: 1269.98px) {
  .arrival__wrapper {
    padding-left: 33px;
    padding-right: 33px;
    position: relative;
  }
}
.arrival__btn {
  display: none;
}
@media (min-width: 1269.98px) {
  .arrival__btn {
    display: block;
    position: absolute;
    top: 50%;
    -webkit-transform: translateY(-50%);
        -ms-transform: translateY(-50%);
            transform: translateY(-50%);
  }
  .arrival__btn img {
    -webkit-transition: all 0.3s ease-in-out;
    transition: all 0.3s ease-in-out;
  }
  .arrival__btn--left {
    left: 0;
  }
}
@media (min-width: 1269.98px) and (any-hover: hover) {
  .arrival__btn--left:hover img {
    -webkit-transform: translateX(-2px);
        -ms-transform: translateX(-2px);
            transform: translateX(-2px);
  }
}
@media (min-width: 1269.98px) {
  .arrival__btn--right {
    right: 0;
  }
}
@media (min-width: 1269.98px) and (any-hover: hover) {
  .arrival__btn--right:hover img {
    -webkit-transform: translateX(2px);
        -ms-transform: translateX(2px);
            transform: translateX(2px);
  }
}
.arrival__items {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
  gap: 39px;
}
@media (max-width: 991.98px) {
  .arrival__items {
    -webkit-column-gap: 20px;
       -moz-column-gap: 20px;
            column-gap: 20px;
    row-gap: 30px;
  }
}
.arrival__image-link {
  display: block;
}
.arrival__image-link:not(:last-child) {
  margin-bottom: 33px;
}
@media (max-width: 991.98px) {
  .arrival__image-link:not(:last-child) {
    margin-bottom: 20px;
  }
}
.arrival__image-link img {
  width: 100%;
  height: 100%;
  aspect-ratio: 263/263;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 12px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .arrival__image-link:hover img {
    opacity: 0.9;
  }
}
.arrival__title:not(:last-child) {
  margin-bottom: 15px;
}
@media (max-width: 767.98px) {
  .arrival__title {
    text-align: center;
  }
}
.arrival__link-title {
  font-size: 20px;
  font-weight: 700;
  letter-spacing: 0.2px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .arrival__title:hover .arrival__link-title {
    color: #8a33fd;
  }
}

.zone__block {
  display: grid;
  gap: 20px;
}
@media (min-width: 639.98px) {
  .zone__block {
    grid-template-columns: repeat(6, 1fr);
  }
}
.zone__item.zone__item--padding-top {
  padding-top: 34px;
}
.zone__item.zone__item--pp-big {
  padding: 45px 100px 50px 20px;
}
@media (min-width: 991.98px) {
  .zone__item.zone__item--big {
    grid-column: span 3;
  }
}

.item-zone {
  border-radius: 12px;
  position: relative;
  padding: 65px 20px 33px;
  overflow: clip;
}
@media (max-width: 767.98px) {
  .item-zone.item-zone:nth-child(4), .item-zone.item-zone:nth-child(5) {
    padding: 45px 4% 50px 20px;
  }
}
@media (min-width: 639.98px) {
  .item-zone {
    grid-column: span 3;
  }
}
@media (min-width: 991.98px) {
  .item-zone {
    grid-column: span 2;
  }
}
.item-zone__image {
  position: absolute;
  top: 0;
  left: 0;
  z-index: -1;
  width: 100%;
  height: 100%;
}
@media (max-width: 479.98px) {
  .item-zone__image::before {
    position: absolute;
    content: "";
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    border-radius: 12px;
    background-color: rgba(0, 0, 0, 0.3);
  }
}
.item-zone__image img {
  width: 100%;
  height: 100%;
  aspect-ratio: 400/393;
  -o-object-fit: cover;
     object-fit: cover;
}
.item-zone__image--bg-color {
  background-color: #4EC4DF;
}
.item-zone__image--color-bg {
  background-color: #DEB2B1;
}
.item-zone__image--big img {
  aspect-ratio: 610/393;
}
.item-zone__inner {
  display: grid;
  grid-template-columns: 156px;
  gap: 23px;
  color: #3c4242;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: end;
  justify-items: start;
}
@media (max-width: 479.98px) {
  .item-zone .item-zone__inner {
    grid-template-columns: auto;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    justify-items: center;
    color: #fff;
  }
}
.item-zone__inner--left {
  -webkit-box-pack: start;
      -ms-flex-pack: start;
          justify-content: start;
}
.item-zone__inner--right {
  justify-items: end;
}
.item-zone__inner--color {
  color: #fff;
}
.item-zone__limited {
  font-size: 12px;
  color: #fff;
  background-color: #3c4242;
  border-radius: 4px;
  font-weight: 700;
  padding: 10px 16px;
  border: none;
  text-transform: capitalize;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .item-zone__limited:hover {
    color: #3c4242;
    background-color: #fff;
  }
}
.item-zone__title--right {
  padding-left: 20px;
  text-align: right;
}
.item-zone__link-title {
  font-family: "CoreSansC", sans-serif;
  font-size: 28px;
  font-weight: 600;
  line-height: 1.37;
  letter-spacing: 0.56px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .item-zone__link-title.item-zone__link-title--hover:hover {
    color: #fff;
  }
}
@media (any-hover: hover) {
  .item-zone__link-title:hover {
    color: #3c4242;
  }
}
.item-zone__sub-title {
  font-size: 14px;
  font-weight: 600;
}
.item-zone__sale {
  font-size: 18px;
  font-weight: 700;
}
.item-zone__sale--size {
  font-size: 20px;
}
.item-zone__icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  row-gap: 30px;
}
@media (min-width: 479.98px) {
  .item-zone__arrow--black path {
    stroke: #333;
  }
}
.item-zone__arrow svg {
  -webkit-animation: arrow 0.65s ease-in-out infinite alternate;
          animation: arrow 0.65s ease-in-out infinite alternate;
}
@-webkit-keyframes arrow {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
@keyframes arrow {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  100% {
    -webkit-transform: translateY(5px);
            transform: translateY(5px);
  }
}
.item-zone__btn {
  font-size: 12px;
  color: #3c4242;
  background-color: transparent;
  border-radius: 4px;
  font-weight: 500;
  padding: 10px 25px;
  text-transform: uppercase;
  border: 1px solid #3c4242;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (max-width: 479.98px) {
  .item-zone__btn {
    border-color: #fff;
    color: #fff;
  }
}
@media (any-hover: hover) {
  .item-zone__btn:hover {
    color: #fff;
    border-color: #fff;
    background-color: rgba(0, 0, 0, 0.2);
  }
}
.item-zone__btn--margin {
  margin-left: 6px;
}
.item-zone__btn--padding {
  padding: 11px 35px;
}
.item-zone__btn--white {
  color: #fff;
  border-color: #fff;
}
@media (any-hover: hover) {
  .item-zone__btn--white:hover {
    color: #3c4242;
    border-color: #3c4242;
    background-color: rgba(0, 0, 0, 0.2);
  }
}

.footer {
  background-color: #3c4242;
  color: #f6f6f6;
  font-size: 18px;
  padding-top: 59px;
  padding-bottom: 59px;
}
.footer__content:not(:last-child) {
  margin-bottom: 30px;
}

.content-footer {
  padding-bottom: 43px;
  border-bottom: 1px solid #bebcbd;
}
.content-footer__container {
  max-width: 1059px;
  padding: 0;
  margin: 0 auto;
}
.content-footer__top:not(:last-child) {
  margin-bottom: 30px;
}
.content-footer__items {
  line-height: 2.17;
  display: grid;
  -webkit-column-gap: 80px;
     -moz-column-gap: 80px;
          column-gap: 80px;
  row-gap: 30px;
}
@media (min-width: 479.98px) {
  .content-footer__items {
    grid-template-columns: repeat(6, auto);
  }
}
@media (min-width: 479.98px) {
  .content-footer__item {
    grid-column: span 3;
  }
}
@media (min-width: 767.98px) {
  .content-footer__item {
    grid-column: span 2;
  }
}
@media (min-width: 991.98px) {
  .content-footer__item {
    grid-column: span 1;
  }
}
@media (min-width: 767.98px) {
  .content-footer__item--big {
    grid-column: span 6;
  }
}
@media (min-width: 991.98px) {
  .content-footer__item--big {
    grid-column: span 3;
  }
}

.footer-title {
  font-size: 29px;
  font-weight: 700;
}

.item-footer__tile:not(:last-child) {
  margin-bottom: 15px;
}
.item-footer__item:not(:last-child) {
  margin-bottom: 5px;
}
.item-footer__link {
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-text-decoration: #3c4242;
          text-decoration: #3c4242;
}
@media (any-hover: hover) {
  .item-footer__link:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff;
  }
}

.body-footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: end;
      -ms-flex-align: end;
          align-items: flex-end;
  -webkit-column-gap: 50px;
     -moz-column-gap: 50px;
          column-gap: 50px;
  padding-right: 64px;
}
@media (max-width: 479.98px) {
  .body-footer {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    row-gap: 30px;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
    padding-right: 0;
  }
}
.body-footer__social {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
}
.body-footer__link-social {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 37px;
          flex: 0 0 37px;
  width: 37px;
  height: 37px;
  border-radius: 11px;
  background-color: #f6f6f6;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .body-footer__link-social:hover {
    background-color: #7f7f7f;
  }
}
.body-footer__title:not(:last-child) {
  margin-bottom: 20px;
}
.body-footer__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 21px;
     -moz-column-gap: 21px;
          column-gap: 21px;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  row-gap: 20px;
}
.body-footer__item {
  -webkit-box-flex: 0;
      -ms-flex: 0 0 154px;
          flex: 0 0 154px;
  width: 154px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-column-gap: 10px;
     -moz-column-gap: 10px;
          column-gap: 10px;
  padding: 9px;
  border-radius: 12px;
  background-color: #404040;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}
@media (any-hover: hover) {
  .body-footer__item:hover {
    background-color: rgba(128, 125, 126, 0.3);
  }
}
.body-footer__img {
  max-width: 30px;
}
.body-footer__img img {
  aspect-ratio: 30/33;
  -o-object-fit: cover;
     object-fit: cover;
}
.body-footer__content {
  color: #fff;
}
.body-footer__content > * {
  margin-bottom: 5px;
}
.body-footer__content > *:last-child {
  margin-bottom: 0;
}
.body-footer__label {
  font-size: 10px;
}
.body-footer__app-title {
  font-size: 18px;
}

.footer__spoiler:not(:last-child) {
  margin-bottom: 37px;
}
.footer__copy {
  font-size: 18px;
  font-weight: 700;
  line-height: 2;
  color: #fff;
  text-align: center;
}

.spoiler {
  padding-bottom: 14px;
  border-bottom: 1px solid #bebcbd;
}
.spoiler__container {
  max-width: 1059px;
  padding: 0;
  margin: 0 auto;
}
.spoiler__block {
  cursor: pointer;
}
.spoiler__title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.spoiler__title:not(:last-child) {
  margin-bottom: 20px;
}
.spoiler__title::before {
  position: absolute;
  content: "";
  right: 0;
  width: 17px;
  height: 8px;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  background: url("../img/footer/arrow-down.svg") center/17px 8px no-repeat;
}
.spoiler__block[open] .spoiler__title::before {
  -webkit-transform: rotate(-90deg);
      -ms-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.spoiler__list {
  margin-left: 20px;
}
.spoiler__item:not(:last-child) {
  margin-bottom: 20px;
}
.spoiler__link {
  font-size: 18px;
  font-weight: 500;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  -webkit-text-decoration: #3c4242;
          text-decoration: #3c4242;
}
@media (any-hover: hover) {
  .spoiler__link:hover {
    color: #fff;
    text-decoration: underline;
    text-decoration-color: #fff;
  }
}