/* Підключення шрифтів */
@import url("fonts.css");
/* Скидання стилів */
@import url("reset.css");

body {
    font-family: "Merriweather", serif;
    font-size: 20px;
}

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

.page {
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: #FFF9F4;
    border-bottom: 1px solid rgba(131, 131, 131, 0.21);
}

.header__container {
    padding-top: 5px;
    padding-bottom: 5px;
    min-height: 100px;
    display: flex;
    align-items: center;
    gap: 15px;
}

.header__logo {
    flex-shrink: 0;
    font-size: 30px;
    font-style: italic;
    font-weight: 700;
    position: relative;
    z-index: 5;
}

.menu {
    flex: 1 1 auto;
}


.menu__list {
    display: flex;
    justify-content: center;
    column-gap: 36px;
    flex-wrap: wrap;
    row-gap: 8px;
}


.menu__item--active .menu__link {
    font-weight: 700;
    text-decoration: underline;
}

.menu__link {
    transition: all .3s ease-in-out;
}

.menu__item--parent {
    position: relative;
}

.menu__item--parent .menu__link {
    display: flex;
    align-items: center;
    gap: 4px;
}

.menu__item--parent .menu__link::after {
    content: "";
    flex: 0 0 16px;
    width: 16px;
    height: 8px;
    background: url('../img/arrow-down.svg') center / cover no-repeat;
    transition: all .3s ease-in-out;
}

.sub-menu {
    position: absolute;
    top: 100%;
    left: 0;
    padding-top: 5px;
    transform: translate(0, 10%);
    opacity: 0;
    overflow: hidden;
    pointer-events: none;
    transition: all .3s ease-in-out;
}

.sub-menu__list {
    width: 200px;
    padding: 15px;
    border-radius: 10px;
    background-color: #0E333D;
    color: #fff;
}

.sub-menu__item:not(:last-child) {
    margin-bottom: 10px;
}

.sub-menu__link {
    font-size: 18px;
}

.header__btn {
    flex-shrink: 0;
    padding: 12px 27px 14px 28px;
    font-weight: 700;
    z-index: 5;
}

.btn {
    color: #fff;
    border-radius: 5px;
    background-color: #0E333D;
    transition: all .3s ease-in-out;
}

.icon-menu {
    display: none;
}

/* ---- HERO ------- */
.hero {
    padding-top: 200px;
    padding-bottom: 140px;
    background-color: #FFF9F4;
}

.hero__container {
    min-height: 100%;
    display: flex;
    /* column-gap: 86px; */
    column-gap: 5.99%;
}

.hero__content {
    flex: 1 0 49.31%;
    padding-top: 65px;
}

.hero__content>* {
    margin-bottom: 32px;
}

.hero__title {
    font-family: "DM Serif Text", serif;
    font-size: 78px;
    line-height: 1.27;
    color: #0E333D;
    text-transform: capitalize;
}

.hero__text {
    font-family: "Inter", sans-serif;
    font-size: 22px;
    line-height: 1.48;
    color: #727272;
    margin-bottom: 48px;
}

.hero__button {
    font-family: "DM Serif Text",
        serif;
    display: inline-flex;
    font-size: 28px;
    column-gap: 47px;
    align-items: center;
}

.hero__btn {
    padding: 17px 37px;
    transition: all .3s ease-in-out;
}

.hero__link-video {
    color: #0E333D;
    text-decoration: underline;
}

.hero__content>*:last-child {
    margin-bottom: 0;
}

.hero__picture {
    flex: 1 0 44.70%;
    display: flex;
    column-gap: 32px;
}

.hero__img {
    flex-basis: 50%;
}

.hero__img img {
    aspect-ratio: 246 / 467;
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.hero__img:first-child {
    padding-top: 69px;
}

.hero__img:last-child {
    align-self: flex-start;
}

.footer {
    background-color: #0E333D;
    text-align: center;
    padding: 20px;
}

.link {
    font-size: 24px;
    color: #fff;
}

@media (any-hover: hover) {
    .menu__item:hover .menu__link {
        text-decoration: underline;
    }

    .menu__item--parent:hover .menu__link::after {
        transform: rotate(-180deg);
    }

    .menu__item--parent:hover .sub-menu {
        opacity: 1;
        transform: translate(0, 0);
        visibility: visible;
        pointer-events: all;
    }

    .sub-menu__link:hover {
        text-decoration: underline;
    }

    .header__btn:hover,
    .hero__btn:hover {
        background-color: #226477;
    }

    .hero__link-video:hover {
        text-decoration: none;
    }

    .link:hover {
        text-decoration: underline;
    }
}

@media (max-width: 1200px) {
    .header__logo {
        font-size: 26px;
    }
}

@media (max-width: 1100px) {
    .hero__title {
        font-size: 68px;
    }
}

@media (max-width: 1001px) {
    .hero {
        padding-top: 150px;
        padding-bottom: 100px;
    }

    .header__container {
        min-height: 50px;
    }

    .menu__body {
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 100%;
        padding: 80px 15px 30px;
        background-color: #d3c2b5;
        overflow: auto;
        transition: all .3s ease-in-out;
    }

    .menu__body::before {
        content: "";
        position: fixed;
        top: 0;
        left: -100%;
        width: 100%;
        height: 57px;
        background-color: #d3c2b5;
        border-bottom: 1px solid rgba(131, 131, 131, 0.21);

        transition: all .3s ease-in-out;
        z-index: 5;
    }

    .open-menu .menu__body,
    .open-menu .menu__body::before {
        left: 0;
    }

    .menu__list {
        flex-direction: column;
        text-align: right;
        gap: 28px;
    }

    .menu__link {
        font-size: 28px;
    }

    .menu__item--parent .menu__link {
        display: block;
    }

    .menu__item--parent .menu__link::after {
        display: none;
    }

    .sub-menu {
        position: relative;
        opacity: 1;
        transform: translate(0, 0);
        visibility: visible;
        padding-top: 10px;
    }

    .sub-menu__list {
        width: 100%;
        border-radius: 0;
    }

    .sub-menu__item:not(:last-child) {
        margin-bottom: 20px;
    }

    .sub-menu__link {
        font-size: 24px;
    }

    .icon-menu {
        display: block;
        flex: 0 0 30px;
        width: 30px;
        height: 18px;
        position: relative;
    }

    .icon-menu::before,
    .icon-menu::after,
    .icon-menu span {
        content: "";
        position: absolute;
        left: 0;
        width: 100%;
        height: 2px;
        background-color: #000;
        transition: all .3s ease-in-out;
    }

    .icon-menu::before {
        top: 0;
    }

    .icon-menu::after {
        bottom: 0;
    }

    .icon-menu span {
        top: 50%;
        margin-top: -1px;
    }

    .open-menu .icon-menu::before {
        transform: rotate(-45deg);
        top: 50%;
        margin-top: -1px;
    }

    .open-menu .icon-menu::after {
        transform: rotate(45deg);
        bottom: 50%;
        margin-bottom: -1px;
    }

    .open-menu .icon-menu span {
        transform: scale(0);
    }
}

@media (max-width: 992px) {
    .hero {
        padding-top: 100px;
    }

    .hero__container {
        flex-direction: column;
        row-gap: 50px;
    }

    .hero__content,
    .hero__img:first-child {
        padding-top: 0px;
    }
}

@media (max-width: 676px) {
    .hero__title {
        font-size: 44px;
    }
}

@media (max-width: 480px) {

    .hero__content>* {
        margin-bottom: 25px;
    }

    .hero__title {
        text-align: center;
        font-size: 38px;
    }

    .hero__text {
        font-size: 19px;
        margin-bottom: 30px;
    }

    .hero__button {
        flex-wrap: wrap;
        justify-content: center;
        row-gap: 30px;
    }

    .footer__container {
        padding-left: 0;
        padding-right: 0;
    }
}



@media (max-width: 375px) {

    .header__container {
        gap: 9px;
    }

    .header__logo {
        font-size: 21px;
    }

    .header__btn {
        padding: 12px 27px 12px 27px;
        color: #fff;
        font-weight: 700;
        z-index: 5;
        font-size: 16px;
    }



    .hero__button {
        justify-content: center;
    }
}