/* Підключення шрифтів */
@import "_fonts.scss";
/* Скидання стилів */
@import "_reset.scss";

body {
    font-family: "Merriweather", serif;
    font-size: 20px;
}

.wrapper {
    display: flex;
    overflow: clip;
    flex-direction: column;
    min-height: 100%;
}

.wrapper>main {
    flex-grow: 1;
}

[class*="__container"] {
    max-width: 1200px;
    padding: 5px 15px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: #FEFBF7;

    // .header__container

    &__container {
        min-height: 100px;
        display: flex;
        align-items: center;
        gap: 15px;

        @media (max-width: 992px) {
            min-height: 50px;
        }

        @media (max-width: 375px) {
            gap: 8px;
        }

    }

    // .header__logo

    &__logo {
        flex-shrink: 0;
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
        z-index: 5;

        @media (max-width: 475px) {
            font-size: 26px;
        }

        @media (max-width: 375px) {
            font-size: 22px;
        }
    }

    // .header__actions

    &__actions {
        flex-shrink: 0;
    }
}

.menu {
    flex-grow: 1;

    // .menu__body

    &__body {
        @media (max-width: 992px) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            padding: 80px 15px 55px;
            background-color: #FEFBF7;
            overflow: auto;
            transition: all .3s ease-in-out;
            text-align: right;

            &::before {
                content: "";
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                height: 50px;
                background-color: rgb(245, 152, 91);
                z-index: 5;
                transition: all .3s ease-in-out;

            }
        }

    }

    // .menu__list

    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 8px;
        column-gap: 36px;

        @media (max-width: 992px) {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            gap: 20px;
        }

        @media (max-width: 767.98px) {}
    }

    // .menu__item

    &__item {
        @media (max-width: 992px) {}
    }

    // .menu__item--active

    &__item--active {

        >.menu__link {
            font-weight: 700;
            color: #D58417;
            text-decoration: underline;
        }
    }

    // .menu__item--parent

    &__item--parent {
        position: relative;

        >.menu__link {
            display: flex;
            align-items: center;
            gap: 4px;

            &::after {
                content: "";
                flex: 0 0 16px;
                width: 16px;
                height: 8px;
                background: url('../img/arrow-down.svg') center / cover no-repeat;
                transition: all .3s ease-in-out;
            }
        }

        &:hover {
            @media (any-hover: hover) {
                >.menu__link {
                    color: #D58417;
                }

                >.menu__link {
                    &::after {
                        transform: rotate(-180deg);
                    }
                }
            }
        }

        &:hover {
            @media (any-hover: hover) {
                .sub-menu {
                    opacity: 1;
                    visibility: visible;
                    transform: translate(0, 0);
                    pointer-events: all;
                }
            }
        }

        @media (max-width: 992px) {
            >.menu__link {
                &::after {
                    display: none;
                }
            }
        }
    }

    // .menu__link

    &__link {
        transition: all .3s ease-in-out;

        @media (max-width: 992px) {
            font-size: 32px;
        }
    }


}

.sub-menu {
    position: absolute;
    padding-top: 5px;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 10%);
    pointer-events: none;
    transition: all .3s ease-in-out;

    @media (max-width: 992px) {
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        pointer-events: all;
    }

    // .sub-menu__list

    &__list {
        width: 200px;
        padding: 15px;
        border-radius: 10px;
        // background-color: orange;
        background-color: rgba(255, 147, 74, 0.88);

        // background-color: #ada69c;
        box-shadow: 3px 1px 10px rgba(0, 0, 0, 0.5);

        @media (max-width: 992px) {
            border-radius: 0px;
            background-color: transparent;
            box-shadow: none;
            padding: 10px 0;
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            gap: 5px;
        }
    }

    // .sub-menu__item

    &__item {
        &:not(:last-child) {
            margin-bottom: 10px;
        }

        &:hover {
            @media (any-hover: hover) {
                >.sub-menu__link {
                    &::after {
                        width: 100%;
                        left: 0;
                    }
                }
            }
        }

        @media (max-width: 992px) {
            margin-bottom: 0;

            &:hover {
                @media (any-hover: hover) {
                    >.sub-menu__link {
                        text-decoration: none;

                        &::after {
                            width: 100%;
                            left: 0;
                        }
                    }
                }
            }
        }
    }

    // .sub-menu__link

    &__link {
        font-size: 18px;


        position: relative;
        padding-bottom: 8px;


        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 50%;
            height: 2px;
            width: 0;
            background-color: #000;
            transition: all .35s ease-in-out;

        }

        @media (max-width: 992px) {
            font-size: 24px;
            color: rgba(0, 0, 0, 0.7);

            &::after {
                background-color: #D58417;

            }


        }
    }
}

.actions-header {
    display: flex;
    column-gap: 23px;
    // .actions-header__item

    &__item {
        position: relative;
        transition: all .3s ease-in-out;

        &:hover {
            @media (any-hover: hover) {
                transform: scale(1.1);
                cursor: pointer;
            }
        }

        span {
            position: absolute;
            top: 0;
            right: 0;
            font-size: 9px;
            text-align: center;
            color: #fff;
            background-color: #FF3333;
            width: 12px;
            height: 12px;
            border-radius: 50%;
        }
    }
}

.icon-menu {
    display: none;

    @media (max-width: 992px) {
        flex: 0 0 30px;
        width: 30px;
        height: 18px;
        position: relative;
        display: block;

        &::before,
        &::after,
        span {
            content: "";
            position: absolute;
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: all .3s ease-in-out;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: 50%;
            margin-top: -1px;
        }
    }

}

.open-menu {
    .menu__body {
        left: 0;

        &::before {
            left: 0;
        }
    }

    .icon-menu {
        &::before {
            transform: rotate(-45deg);
            top: 50%;
            margin-top: -1px;
        }

        &::after {
            transform: rotate(45deg);
            bottom: 50%;
            margin-bottom: -1px;
        }

        span {
            transform: scale(0);
        }
    }
}

.page {
    // .page__hero

    &__hero {
        background-color: #502203;
        position: relative;

        &::before,
        &::after {
            position: absolute;
            content: "";
            width: 474px;
            height: 374px;
        }

        &::before {
            top: 50px;
            left: -250px;
            background: url('../img/decor-left.svg') center / 470px 374px no-repeat;
        }

        &::after {
            top: 325px;
            right: -220px;
            background: url('../img/decor-left.svg') center / 470px 374px no-repeat;
            transform: rotate(-25deg);
        }

        @media (max-width: 475px) {

            &::before,
            &::after {
                display: none;
            }
        }

    }
}

.hero {

    font-family: "Cormorant Infant", serif;
    color: #fff;
    // .hero__container

    // .hero__bg-left

    &__bg-left,
    &__bg-right {
        display: none;
    }

    // .hero__bg-right


    &__container {
        padding: 200px 15px 55px;
        display: flex;

        @media (max-width: 992px) {
            padding: 90px 15px 55px;
            flex-direction: column;
            align-items: center;
            gap: 30px;
        }

        @media (min-width: 1200px) {
            position: relative;

            >.hero__bg-left {
                display: block;
                position: absolute;
                bottom: 2px;
                left: -80px;
                border-radius: 195px 195px 0 0;
                border: 1px solid #fff;
                max-width: 100%;
            }

            >.hero__bg-left img {
                transform: translate(6px, 4px);
            }

            >.hero__bg-right {
                position: absolute;
                display: block;
                bottom: 55px;
                right: -300px;
                border: 1px solid #fff;
                border-radius: 215px;
                padding: 17px 12px;
                z-index: 1;
            }
        }

    }


    // .hero__body

    &__body {
        flex-basis: 31.625%;
        padding-top: 57px;
        padding-right: 30px;
        text-align: center;

        &>* {
            margin-bottom: 9px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media (max-width: 992px) {
            padding-top: 0;
            padding-right: 0;
        }
    }

    // .hero__title

    &__title {
        font-size: 78px;
        font-weight: 700;
        line-height: 1.29;

        @media (max-width: 767.98px) {
            font-size: 76px;
        }

        @media (max-width: 680px) {
            font-size: 58px;
        }

        @media (max-width: 530px) {
            font-size: 50px;
        }

        @media (max-width: 475px) {
            font-size: 39px;
        }

        @media (max-width: 375px) {
            font-size: 32px;
        }

    }

    // .hero__btn

    &__btn {
        font-size: 24px;
        padding: 15px 25px;
        border-radius: 4px;
        border: 1px solid #FFF;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            width: 100%;
            height: 100%;
            top: 12px;
            left: -8px;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.06);
            transition: all .3s ease-in-out;
            z-index: 2;
        }

        &:hover {
            @media (any-hover: hover) {
                &::after {
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    // .hero__image

    &__image {
        flex-shrink: 0;
        flex-basis: 36.75%;
        z-index: 1;

        img {
            border-radius: 215px;
            aspect-ratio: 390px / 554px;
            object-fit: cover;
            border: 1px solid #fff;
            padding: 20px 28px;
        }
    }

    // .hero__content

    &__content {
        flex-basis: 31.625%;
        padding-top: 76px;
        padding-left: 23px;
    }


}

.content-hero {
    display: flex;
    flex-direction: column;
    gap: 15px;

    @media (max-width: 992px) {
        padding-top: 0;
        padding-left: 0;
    }

    // .content-hero__text

    &__text {
        flex-grow: 1;
        padding-right: 32px;
        font-size: 22px;
        font-weight: 700;
        line-height: 1.48;

        p {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        @media (max-width: 992px) {
            padding-right: 0;
        }

        @media (max-width: 375px) {
            padding-right: 0;
            font-size: 20px;
        }
    }

    // .content-hero__item

    &__item {
        font-size: 32px;
        line-height: 1.2;
        margin-bottom: 183px;
        align-self: flex-end;
        display: flex;
        align-items: center;
        column-gap: 10px;

        &::before {
            content: "";
            width: 1px;
            height: 60px;
            background: #fff;

        }

        @media (min-width: 1201px) {
            margin-right: -31px;
        }

        @media (max-width: 1250px) {
            margin-right: 0;
        }

        @media (max-width: 992px) {
            align-self: flex-start;
            margin-bottom: 0;
        }

        @media (max-width: 475px) {
            font-size: 26px;
        }
    }
}

.footer {
    background-color: #FEFBF7;

    // .footer__container

    &__container {
        min-height: 100px;
        padding: 5px 15px;
        display: flex;
        align-items: center;
        justify-content: center;

    }
}