/* Підключення шрифтів */
@import "_fonts.scss";
/* Скидання стилів */
@import "_reset.scss";

$linkColor: #D58417;
$heroBg: #502203;
$widthPc: 1200px;
$widthTabletBig: 992px;
$widthTablet: 991.92px;
$widthMobile: 767.98px;
$widthMobileSmall: 480px;
$widthSmall: 375px;
$borderWhite: 1px solid #fff;


body {
    font-family: "Merriweather", serif;
    font-size: 20px;
}

.wrapper {
    display: flex;
    overflow: clip;
    flex-direction: column;
    min-height: 100%;
}

.wrapper>main {
    flex-grow: 1;
}

.page {
    display: flex;
    flex-direction: column;
}

[class*="__container"] {
    max-width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 5;
    background-color: #FEFBF7;

    // .header__container
    &__container {
        padding-bottom: 5px;
        padding-top: 5px;
        display: flex;
        align-items: center;
        gap: 15px;
        min-height: 100px;

        @media (max-width: $widthTablet) {
            min-height: 50px;
        }
    }

    // .header__logo
    &__logo {
        flex-shrink: 0;
        font-size: 30px;
        font-weight: 700;
        font-style: italic;
        position: relative;
        z-index: 5;

        @media (max-width: $widthMobileSmall) {
            font-size: 26px;
        }

        @media (max-width: $widthSmall) {
            font-size: 21px;
        }
    }

    // .header__actions
    &__actions {
        flex-shrink: 0;
    }
}

.menu {
    flex: 1 1 auto;

    // .menu__body
    &__body {
        @media (max-width: $widthTablet) {
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            height: 100%;
            padding: 80px 15px 30px;
            background-color: #FEFBF7;
            overflow: auto;
            transition: all .3s ease-in-out;
            text-align: right;

            // Запобіжник для шапки
            &::before {
                content: "";
                position: fixed;
                top: 0;
                left: -100%;
                width: 100%;
                height: 50px;
                background-color: rgb(245, 152, 91);
                z-index: 5;
                transition: all .3s ease-in-out;
            }
        }
    }

    // .menu__list
    &__list {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        row-gap: 8px;
        column-gap: 36px;

        @media (max-width: $widthTablet) {
            display: inline-flex;
            flex-direction: column;
            align-items: flex-end;
            text-align: right;
            gap: 28px;
        }
    }

    // .menu__item--parent
    &__item--parent {
        position: relative;
    }

    // .menu__link
    &__link {
        transition: all .3s ease-in-out;

        .menu__item:hover & {
            color: $linkColor;
        }

        .menu__item--active & {
            font-weight: 700;
            color: $linkColor;
            text-decoration: underline;
        }

        .menu__item--parent & {
            display: flex;
            align-items: center;
            gap: 4px;

            @media (max-width: $widthTablet) {
                font-size: 24px;
                display: block;
            }

            &::after {
                content: "";
                flex: 0 0 16px;
                width: 16px;
                height: 8px;
                background: url('../img/arrow-down.svg') center / cover no-repeat;
                transition: all .3s ease-in-out;

                @media (max-width: $widthTablet) {
                    display: none;
                }

                // .menu__item--parent:hover & {
                //     transform: rotate(-180deg);

                // }
            }
        }

        .menu__item--parent:hover &::after {
            transform: rotate(-180deg);
        }
    }

}

.sub-menu {
    position: absolute;
    padding-top: 5px;
    top: 100%;
    left: 0;
    opacity: 0;
    visibility: hidden;
    transform: translate(0, 10%);
    pointer-events: none;
    transition: all .3s ease-in-out;

    .menu__item--parent:hover & {
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        pointer-events: all;
    }

    @media (max-width: $widthTablet) {
        position: relative;
        opacity: 1;
        visibility: visible;
        transform: translate(0, 0);
        pointer-events: all;
        padding-top: 10px;
    }

    // .sub-menu__list
    &__list {
        width: 200px;
        padding: 15px;
        border-radius: 10px;
        background-color: #ff934a;


        @media (max-width: $widthTablet) {
            border-radius: 0px;
            background-color: transparent;
            padding: 10px 0;
            width: 100%;
            display: inline-flex;
            flex-direction: column;
            gap: 5px;
        }
    }

    // .sub-menu__item
    &__item {

        &:not(:last-child) {
            margin-bottom: 10px;

            @media (max-width: $widthTablet) {
                margin-bottom: 20px;
            }
        }
    }

    // .sub-menu__link
    &__link {
        font-size: 18px;
        position: relative;
        padding-bottom: 5px;
        transition: all .3s ease-in-out;

        &::after {
            content: "";
            position: absolute;
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 2px solid #000;
            transform: scale(0);
            transition: all .35s ease-in-out;

            @media (max-width: $widthTablet) {
                border-color: $linkColor;
            }
        }

        &:hover {
            @media (max-width: $widthTablet) {
                color: $linkColor;
            }

            &::after {
                transform: scale(1);
            }
        }

        @media (max-width: $widthTablet) {
            font-size: 24px;
            color: rgba(0, 0, 0, 0.7);
        }
    }
}

.actions-header {
    display: flex;
    align-items: center;
    column-gap: 23px;

    // .actions-header__item
    &__item {
        flex: 0 0 32px;
        width: 32px;
        position: relative;
        transition: all .3s ease-in-out;

        span {
            position: absolute;
            top: 0;
            right: 0;
            min-width: 12px;
            font-size: 9px;
            line-height: 12px;
            text-align: center;
            color: #fff;
            background-color: #FF3333;
            border-radius: 50%;
        }

        &:hover {
            @media (any-hover: hover) {
                transform: scale(1.1);
                cursor: pointer;
            }
        }
    }
}

.icon-menu {
    display: none;

    @media (max-width: $widthTablet) {
        display: block;
        flex: 0 0 30px;
        width: 30px;
        height: 18px;
        position: relative;

        &::before,
        &::after,
        span {
            content: "";
            position: absolute;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: #000;
            transition: all .3s ease-in-out;
        }

        &::before {
            top: 0;
        }

        &::after {
            bottom: 0;
        }

        span {
            top: 50%;
            margin-top: -1px;
        }

        .open-menu & {
            span {
                transform: scale(0);
            }

            &::before {
                transform: rotate(-45deg);
                top: 50%;
                margin-top: -1px;
            }

            &::after {
                transform: rotate(45deg);
                bottom: 50%;
                margin-bottom: -1px;
            }
        }
    }
}

.open-menu {
    body {
        overflow: hidden;
    }

    .menu__body {
        left: 0;

        &::before {
            left: 0;
        }
    }
}

.page {

    @media (min-width: $widthMobileSmall) {

        // .page__hero
        &__hero {
            position: relative;

            &::before,
            &::after {
                position: absolute;
                content: "";
                width: 474px;
                height: 374px;
            }

            &::before {
                top: 50px;
                left: -250px;
                background: url('../img/decor-left.svg') center / 470px 374px no-repeat;
            }

            &::after {
                top: 325px;
                right: -220px;
                background: url('../img/decor-left.svg') center / 470px 374px no-repeat;
                transform: rotate(-25deg);
            }
        }
    }
}

.hero {
    padding: 200px 0px 58px;
    font-family: "Cormorant Infant", serif;
    color: #fff;
    background-color: $heroBg;
    flex-grow: 1;

    @media (max-width: $widthTablet) {
        padding: 90px 0px 40px;
    }

    // .hero__bg-left
    &__bg-left {
        display: none;

        @media (min-width: $widthPc) {
            display: block;
            position: absolute;
            bottom: -56px;
            left: -181px;
            border-radius: 195px 195px 0 0;
            border: $borderWhite;
            max-width: 239px;

            img {
                aspect-ratio: 239 / 215;
                object-fit: cover;
                transform: translate(6px, 4px);
                border-radius: 195px 195px 0 0;
            }

        }
    }

    // .hero__bg-right
    .hero__bg-right {
        display: none;

        @media (min-width: $widthPc) {
            position: absolute;
            display: block;
            bottom: 0;
            right: -310px;
            border: $borderWhite;
            border-radius: 215px;
            padding: 17px 12px;
            z-index: 1;
            max-width: 263px;

            img {
                aspect-ratio: 237 / 337;
                object-fit: cover;
                border-radius: 215px;
            }
        }
    }

    // .hero__container
    &__container {
        display: flex;
        align-items: flex-start;

        @media (min-width: $widthPc) {
            position: relative;
        }

        @media (max-width: $widthTablet) {
            flex-direction: column;
            align-items: center;
            row-gap: 40px;
        }
    }

    // .hero__body
    &__body {
        position: relative;
        z-index: 1;

        &>* {
            margin-bottom: 9px;

            &:last-child {
                margin-bottom: 0;
            }
        }

        @media (min-width: $widthTabletBig) {
            flex-basis: 31.625%;
            flex-shrink: 0;
            padding-top: 57px;
            padding-right: 30px;
        }

        @media (max-width: $widthTablet) {
            text-align: center;
        }
    }

    // .hero__title
    &__title {
        font-size: 78px;
        font-weight: 700;
        line-height: 1.29;

        @media (max-width: $widthTablet) {
            font-size: 68px;
        }

        @media (max-width: 640px) {
            font-size: 51px;
        }

        @media (max-width: $widthMobileSmall) {
            font-size: 42px;
        }

        @media (max-width: $widthSmall) {
            font-size: 34px;
        }
    }

    // .hero__btn
    &__btn {
        padding: 15px 25px;
        font-size: 24px;
        border-radius: 4px;
        border: $borderWhite;
        position: relative;

        &::after {
            content: "";
            position: absolute;
            top: 12px;
            left: -8px;
            width: 100%;
            height: 100%;
            border-radius: 4px;
            background: rgba(255, 255, 255, 0.06);
            transition: all .3s ease-in-out;
        }

        &:hover {
            @media (any-hover: hover) {
                &::after {
                    top: 0;
                    left: 0;
                }
            }
        }
    }

    // .hero__image
    &__image {
        padding: 20px 28px;
        border: $borderWhite;
        border-radius: 215px;
        z-index: 1;
        max-width: 448px;

        img {
            aspect-ratio: 390 / 554;
            object-fit: cover;
            border-radius: 215px;
        }

        @media (min-width: $widthTabletBig) {
            flex-basis: 36.75%;
            flex-shrink: 0;
        }
    }

    // .hero__content
    &__content {
        @media (min-width: $widthTabletBig) {
            flex-basis: 31.625%;
            padding-top: 76px;
            padding-left: 23px;
        }
    }
}

.content-hero {
    display: flex;
    flex-direction: column;
    align-self: stretch;
    row-gap: 20px;

    @media (max-width: $widthTablet) {
        padding-top: 0;
        padding-left: 0;
    }

    // .content-hero__text
    &__text {
        font-size: 22px;
        font-weight: 700;
        line-height: 1.48;

        p {
            &:not(:last-child) {
                margin-bottom: 10px;
            }
        }

        @media (min-width: $widthPc) {
            padding-right: 32px;
        }

        @media (max-width: $widthSmall) {
            font-size: 18px;
        }
    }

    // .content-hero__item
    &__item {
        align-self: flex-end;
        font-size: 32px;
        line-height: 1.2;
        display: flex;
        align-items: center;
        column-gap: 10px;

        &::before {
            content: "";
            width: 1px;
            height: 80%;
            background: #fff;

        }

        @media (min-width: $widthPc) {
            margin-right: -31px;
        }

        @media (min-width: $widthTabletBig) {
            margin: auto 0px;
        }

        @media (max-width: 1250px) {
            margin-right: 0px;

        }

        @media (max-width: $widthTablet) {
            align-self: flex-start;
            margin-bottom: 0px;

            &::before {
                height: 60px;
            }
        }

        @media (max-width: $widthSmall) {
            font-size: 26px;
        }
    }
}

.page {

    // .page__service

    &__service {
        padding-top: 160px;
        margin-bottom: 160px;


        @media (max-width: $widthTablet) {
            padding-top: 80px;
            margin-bottom: 80px;
        }

        @media (max-width: $widthMobile) {
            padding-top: 40px;
            margin-bottom: 40px;
        }

        @media (min-width: $widthMobileSmall) {
            position: relative;

            &::after {
                content: "";
                position: absolute;
                top: 20%;
                right: -313px;
                width: 407px;
                height: 323px;
                background: url('../img/servic/bg-left.svg') center / 407px 323px no-repeat;
            }
        }
    }
}

.service {

    // .service__container

    &__container {
        max-width: 1100px;
    }

    // .service__items

    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, auto));
        column-gap: 60px;
        row-gap: 50px;
    }

    // .service__item

    &__item {

        // text-align: center;
    }
}

.item-service {
    text-align: center;
    // .item-service__image

    &__image {
        display: inline-block;
        position: relative;

        &::before {
            content: "";
            position: absolute;
            top: 7px;
            right: 29px;
            width: 60px;
            height: 60px;
            border-radius: 50%;
            background-color: rgba(255, 147, 74, 0.28);
            z-index: -1;
        }

        &:not(:last-child) {
            margin-bottom: 28px;

            @media (max-width: $widthMobileSmall) {
                margin-bottom: 20px;
            }
        }
    }

    // .item-service__title

    &__title {
        font-family: "Cormorant Infant", serif;
        font-size: 28px;
        font-weight: 700;

        &:not(:last-child) {
            margin-bottom: 20px;

            @media (max-width: $widthMobileSmall) {
                margin-bottom: 10px;
            }
        }

        @media (max-width: $widthSmall) {
            font-size: 22px;
        }
    }

    // .item-service__text

    &__text {
        font-family: "Inter", sans-serif;
        font-size: 16px;
        color: #6D6D6D;

        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
}


.footer {
    background-color: #5A2E17;

    // .footer__container
    &__container {
        padding: 20px;
        font-family: "Poppins";
        font-size: 24px;
        text-transform: uppercase;
        color: #D5842C;
        text-align: center;
    }
}