.menu {
    // .menu__icon
    &__icon {}

    // .menu__body
    &__body {
        @media (max-width: toEm(767.98)) {
            position: fixed;
            height: 100%;
            width: 100%;
            overflow: auto;
            top: 0;
            padding: 50px;
            background-color: #7a956b;
            left: -100%;
            transition: all 0.3s ease-in-out;

            .menu-open & {
                left: 0;
            }
        }
    }

    // .menu__list
    &__list {}

    // .menu__item
    &__item {}

    // .menu__link
    &__link {}
}

.icon-menu {
    display: none;

    @media (max-width: toEm(767.98)) {
        display: block;
        position: relative;
        width: toRem(30);
        height: toRem(18);
        z-index: 5;

        @media (any-hover: hover) {
            &:hover {
                cursor: default;
            }
        }
    }

    span,
    &::before,
    &::after {
        content: "";
        transition: all .3s ease-in-out 0s;
        right: 0;
        position: absolute;
        width: 100%;
        height: toRem(2);
        background-color: #fff;
    }
    &::before {
        top: 0;
    }
    &::after {
        bottom: 0;
    }
    span {
        top: calc(50% - toRem(1));
    }
    .menu-open & {
        span {
            width: 0;
        }
        &::before {
            top: calc(50% - toRem(1));
            transform: rotate(-45deg);
        }
        &::after {
            bottom: calc(50% - toRem(1));
            transform: rotate(45deg);
        }
    }
}

ul li {
    font-size: 30px;
    color: #fff;
}