/* Підключення шрифтів */
@import url("fonts.css");
/* Скидання стилів */
@import url("reset.css");

.wrapper {
    min-height: 100%;
    overflow: clip;
    display: flex;
    flex-direction: column;
}

.wrapper>main {
    flex-grow: 1;
}

.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 50;
}