@import url("https://fonts.googleapis.com/css?family=Merriweather:800&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:500&display=swap");

@font-face {
    font-family: "Mintaka";
    src:
        url("../fonts/Mintaka.woff2") format(woff2),
        url("../fonts/Mintaka.woff") format(woff);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src:
        url("../fonts/Causten-Light.woff2") format(woff2),
        url("../fonts/Causten-Light.woff") format(woff);
    font-weight: 300;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Causten";
    src:
        url("../fonts/Causten-Regular.woff2") format(woff2),
        url("../fonts/Causten-Regular.woff") format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}
@font-face {
    font-family: "Causten";
    src:
        url("../fonts/Causten-Medium.woff2") format(woff2),
        url("../fonts/Causten-Medium.woff") format(woff);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src:
        url("../fonts/causten-semi-bold.woff2") format(woff2),
        url("../fonts/causten-semi-bold.woff") format(woff);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten";
    src:
        url("../fonts/causten-bold.woff2") format(woff2),
        url("../fonts/causten-bold.woff") format(woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CoreSansC";
    src:
        url("../fonts/CoreSansC-55Medium.woff2") format(woff2),
        url("../fonts/CoreSansC-55Medium.woff") format(woff);
    font-weight: 500;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CoreSansC";
    src:
        url("../fonts/CoreSansC-65Bold.woff2") format(woff2),
        url("../fonts/CoreSansC-65Bold.woff") format(woff);
    font-weight: 600;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "CoreSansC";
    src:
        url("../fonts/CoreSansC-85Heavy.woff2") format(woff2),
        url("../fonts/CoreSansC-85Heavy.woff") format(woff);
    font-weight: 800;
    font-style: normal;
    font-display: swap;
}
