@import url('fonts.css');
@import url('reset.css');

body {
    font-family: "Poppins", sans-serif;
    font-size: 18px;
    line-height: 1.2;
}

[class*="__container"] {
    max-width: 1155px;
    padding-left: 10px;
    padding-right: 10px;
    margin: 0 auto;
    border: 1px solid silver;
}

.page {
    margin-top: 100px;
}

.page__links {
    font-size: 0;
}

.page__links a {
    padding: 13px 23px;
    text-align: center;
    border: 1px solid #ECE89D;
    vertical-align: top;
    background-color: #5E5373;
    color: #fff;
}

.page__links a:nth-child(4),
.page__links a:nth-child(6) {
    padding-top: 3px;
    padding-bottom: 4px;
}

.page__links a:nth-child(7) {
    padding-top: 22px;
    padding-bottom: 23px;
}

.page__links a:hover {
    background-color: #ECE89D;
    color: #000;
}

.page__links-title {
    font-size: 20px;
    font-weight: 600;

}

.page__links-title+span {
    font-size: 16px;
}

.block {
    padding-top: 15px;
    padding-bottom: 15px;
    margin: 0 auto 60px;
    border: 2px solid #ECE89D;
    height: 400px;
    overflow: auto;
}

.block__item:not(:last-child) {
    margin-bottom: 30px;
}

.main-block {
    background-color: #eee;
    max-width: 700px;
    margin: 0 auto;
    text-align: center;
    min-height: 800px;
}

.block-1,
.block-2,
.block-3 {
    padding-top: 30px;
    padding-bottom: 30px;
    font-size: 22px;
    font-weight: 700;
    color: #fff;
    text-transform: uppercase;
}


.block-1 {
    background-color: #ECE89D;
}

.block-2 {
    background-color: #5E5373;
}

.block-3 {
    background-color: #2EB5A4;
}



.block__item--static {
    display: none;
}

.block__item--static:target {
    display: block;
}


.page__link:target {
    background-color: #ECE89D;
    color: #000;
    display: inline-block;
}

.block__item--relative {
    display: none;
}

.block__item--relative:target {
    display: block;
}

.block__item--relative .block-2 {
    position: relative;
    top: 30px;
    left: 20px;
}

.block__item--relative-1 {
    display: none;
}

.block__item--relative-1:target {
    display: block;
}

.block__item--relative-1 .block-2 {
    position: relative;
    top: 30px;
    left: 20px;
}

.block__item--relative-1 .block-3 {
    position: relative;
    z-index: 2;
}

.block__item--absolute {
    display: none;
}

.block__item--absolute:target {
    display: block;
}

.block__item--absolute .main-block {
    position: relative;
}

.block__item--absolute .block-2 {
    position: absolute;
    top: 30px;
    left: 20px;
}

.block__item--absolute-1 {
    display: none;
}

.block__item--absolute-1:target {
    display: block;
}

.block__item--absolute-1 .block-2 {
    position: absolute;
    top: 30px;
    left: 20px;
}

.block__item--fixed {
    display: none;
}

.block__item--fixed:target {
    display: block;
}

.block__item--fixed .block-2 {
    position: fixed;
    width: 100%;
    top: 0px;
    left: 0px;
}

.block__item--sticky {
    display: none;
}

.block__item--sticky:target {
    display: block;
}

.block__item--sticky .block-2 {
    position: sticky;
    top: 0px;
}