/* Підключення шрифтів */
@import "_fonts.scss";
/* Скидання стилів */
@import "_reset.scss";
/* Міксини */
@import "_mixin.scss";

$white: #fff;
$whiteLite: #f6f6f6;
$yellow: #fbd103;
$pink: #deb2b1;
$violet: #8a33fd;
$purple: #694a82;
$blue: #01b7dc;
$forestgreen: #101c1a;
$silverThin: #7f7f7f;
$silver: #807d7e;
$gray: #3c4242;
$black: #000;
$bgYellow: #feba48;
$widthPcBig: 1269.98px;
$widthPc: 1199.98px;
$widthTablet: 991.98px;
$widthMobile: 767.98px;
$widthMobileSmall: 479.98px;
$widthSmall: 374.98px;

body {
    font-family: "Causten", sans-serif;
    font-size: 20px;
    color: $gray;
    .open-menu & {
        overflow: hidden;
    }
}

section {
    transform: translateY(20px);
    opacity: 0;
    transition: all 0.3s ease-in-out;
    &.show {
        transform: translateY(0px);
        opacity: 1;
    }
}

.wrapper {
    display: flex;
    overflow: clip;
    flex-direction: column;
    min-height: 100%;
    > main {
        flex-grow: 1;
    }
}
[class*="__container"] {
    max-width: 1270px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: $white;
    z-index: 50;
    border-bottom: 1px solid #bebcbd;
    // .header__container
    &__container {
        display: flex;
        align-items: center;
        column-gap: 88px;
        min-height: 118px;
        padding-top: 5px;
        padding-bottom: 5px;
        @media (max-width: $widthPcBig) {
            column-gap: 30px;
        }
        @media (max-width: $widthTablet) {
            min-height: 70px;
            align-items: flex-start;
            padding-top: 15px;
            padding-bottom: 15px;
        }
    }
    // .header__logo
    &__logo {
        flex: 0 0 91px;
        width: 91px;
        z-index: 1;
        img {
            aspect-ratio: 91 / 45;
            object-fit: cover;
        }
    }
    // .header__body
    &__body {
        flex: 1 1 auto;
        display: flex;
        align-items: center;
        column-gap: 76px;
        @media (max-width: $widthPcBig) {
            column-gap: 20px;
        }
        @media (max-width: $widthTablet) {
            justify-content: end;
            flex-wrap: wrap;
            row-gap: 15px;
        }
    }
}
.menu {
    flex: 1 1 auto;
    transition: all 0.3s ease-in-out;
    @media (max-width: $widthTablet) {
        position: fixed;
        width: 100%;
        height: 100%;
        top: 0px;
        left: -100%;
        padding: 80px 15px 30px;
        background-color: $whiteLite;
        overflow: auto;
        &::before {
            content: "";
            position: fixed;
            top: 0;
            left: -100%;
            width: 100%;
            min-height: 75px;
            background-color: $blue;
            transition: all 0.3s ease-in-out;
            z-index: 2;
            @media (max-width: 651.98px) {
                min-height: 107px;
            }
            @media (max-width: 627.98px) {
                min-height: 133px;
            }
            @media (max-width: $widthMobileSmall) {
                min-height: 75px;
                .open-input & {
                    min-height: 133px;
                }
            }
            @media (max-width: 422.98px) {
                min-height: 133px;
            }
            @media (max-width: 358.98px) {
                .open-input & {
                    min-height: 166px;
                }
            }
        }
        .open-menu & {
            left: 0;
            &::before {
                left: 0;
            }
        }
    }
    @media (max-width: 651.98px) {
        padding-top: 140px;
    }
    @media (max-width: 627.98px) {
        padding-top: 160px;
    }
    @media (max-width: $widthMobileSmall) {
        padding-top: 100px;
        .open-input & {
            padding-top: 160px;
        }
    }
    @media (max-width: 422.98px) {
        padding-top: 160px;
    }
    @media (max-width: 358.98px) {
        .open-input & {
            padding-top: 180px;
        }
    }
    // .menu__list
    &__list {
        display: flex;
        justify-content: center;
        align-items: center;
        column-gap: 35px;
        flex-wrap: wrap;
        row-gap: 10px;
        @media (max-width: $widthPc) {
            column-gap: 20px;
        }
        @media (max-width: $widthTablet) {
            flex-direction: column;
            align-items: end;
            row-gap: 28px;
        }
    }
    // .menu__item
    &__item {
        font-weight: 500;
        color: $silver;
    }
    // .menu__item--action
    &__item--action {
        font-weight: 700;
        color: $gray;
    }
    // .memu__link
    &__link {
        font-size: 22px;
        transition: all 0.3s ease-in-out;
        position: relative;
        padding-bottom: 3px;
        &::after {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            height: 2px;
            background-color: $gray;
            transform: scale(0);
            transition: all 0.3s ease-in-out;
        }
        @media (max-width: $widthPc) {
            font-size: 20px;
        }
        @media (max-width: $widthTablet) {
            font-size: 30px;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $gray;
            }
            .menu__item:hover & {
                &::after {
                    transform: scale(1);
                }
            }
        }
    }
}
.form {
    z-index: 2;
    border-radius: 8px;
    outline: 1px solid $whiteLite;
    transition: all 0.3s ease-in-out;
    @media (max-width: 627.98px) {
        order: 1;
    }
    // .form__item
    &__item {
        max-width: 100%;
        display: flex;
        align-items: center;
        border-radius: 8px;
        overflow: hidden;
    }
    // .form__button
    &__button {
        width: 44px;
        height: 44px;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 8px 0 0 8px;
        background-color: $whiteLite;
        img {
            aspect-ratio: 16 / 16;
            object-fit: cover;
        }
    }
    // .form__input
    &__input {
        width: 100%;
        height: 44px;
        padding-left: 12px;
        padding-right: 12px;
        background-color: $whiteLite;
        transition: all 0.3s ease-in-out;
        border-radius: 0 8px 8px 0;
        &::placeholder {
            font-size: 16px;
            color: $silver;
        }
        @media (max-width: $widthMobileSmall) {
            display: none;
            .open-input & {
                display: inline-block;
            }
        }
    }
    @media (any-hover: hover) {
        &:hover {
            outline-color: $silver;
        }
    }
}
.actions-header {
    flex-shrink: 0;
    display: flex;
    column-gap: 12px;
    z-index: 1;
    @media (max-width: 627.98px) {
        order: 3;
    }
    @media (max-width: $widthMobileSmall) {
        order: 2;
    }
    @media (max-width: 422.98px) {
        order: 3;
        .open-input & {
            order: 2;
        }
    }
    // .actions-header__img
    &__img {
        width: 44px;
        height: 44px;
        border-radius: 8px;
        background-color: $whiteLite;
        display: flex;
        justify-content: center;
        align-items: center;
        border: 1px solid $whiteLite;
        transition: all 0.4s ease-in-out;
        img {
            flex: 0 0 20px;
            width: 20px;
        }
        @media (any-hover: hover) {
            &:hover {
                border-color: $silver;
            }
        }
    }
}
.icon-menu {
    display: none;
    @media (max-width: $widthTablet) {
        display: block;
        flex: 0 0 30px;
        width: 30px;
        height: 18px;
        position: relative;
        cursor: pointer;
        &::before,
        &::after,
        span {
            content: "";
            position: absolute;
            height: 2px;
            width: 100%;
            left: 0;
            background-color: $gray;
            transition: all 0.3s ease-in-out;
        }
        &::before {
            top: 0;
            .open-menu & {
                transform: rotate(-45deg);
                top: 50%;
                margin-top: -1px;
            }
        }
        &::after {
            bottom: 0;
            .open-menu & {
                transform: rotate(45deg);
                bottom: 50%;
                margin-bottom: -1px;
            }
        }
        span {
            top: 50%;
            margin-top: -1px;
            .open-menu & {
                transform: scale(0);
            }
        }
    }
    @media (max-width: 627.98px) {
        order: 2;
    }
    @media (max-width: $widthMobileSmall) {
        order: 3;
    }
    @media (max-width: 422.98px) {
        order: 2;
        .open-input & {
            order: 3;
        }
    }
}
.page {
    display: flex;
    flex-direction: column;
    // .page__hero
    &__hero {
        margin-top: 118px;
        margin-bottom: 130px;
        @media (max-width: $widthTablet) {
            margin-top: 76px;
            margin-bottom: 65px;
        }
        @media (max-width: 649.98px) {
            margin-top: 108px;
        }
        @media (max-width: 627.98px) {
            margin-top: 133px;
        }
        @media (max-width: 479.98px) {
            margin-top: 76px;
            .open-input & {
                margin-top: 133px;
            }
        }
        @media (max-width: 420.98px) {
            margin-top: 133px;
        }
        @media (max-width: 356.98px) {
            .open-input & {
                margin-top: 166px;
            }
        }
    }
    // .page__deals
    // .page__arrival
    // .page__zone
    &__deals,
    &__arrival,
    &__zone,
    &__fashion,
    &__categories,
    &__brands,
    &__feedback {
        margin-bottom: 100px;
        @media (max-width: $widthTablet) {
            margin-bottom: 50px;
        }
    }
}
// HERO
.hero {
    position: relative;
    // .hero__image
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        height: 100%;
        width: 100%;
        background-color: $blue;
        &::before {
            @media (max-width: 627.98px) {
                @include overlayImage;
                border-radius: 0;
            }
        }
        img {
            height: 100%;
            width: 100%;
            aspect-ratio: 1445 / 716;
            object-fit: cover;
            object-position: top;
            @media (max-width: 627.98px) {
                object-position: top right;
            }
        }
    }
    // .hero__container
    &__container {
        position: relative;
        z-index: 2;
        padding: 49px 0px;
    }
    // .hero__arrow
    &__arrow {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        transition: all 0.3s ease-in-out;
        @media (max-width: 1354.98px) {
            display: none;
        }
        // .hero__arrow--left
        &--left {
            left: -42px;
            @media (any-hover: hover) {
                &:hover {
                    left: -47px;
                }
            }
        }
        // .hero__arrow--right
        &--right {
            right: -42px;
            @media (any-hover: hover) {
                &:hover {
                    right: -47px;
                }
            }
        }
    }
    // .hero__body
    &__body {
        max-width: 1180px;
        font-family: "CoreSansC", sans-serif;
        line-height: 1.2;
        color: $white;
        display: flex;
        align-items: center;
        margin: 0 auto;
        padding-left: 20px;
        &:not(:last-child) {
            margin-bottom: 73px;
        }
        @media (max-width: $widthMobileSmall) {
            text-align: center;
        }
    }
    // .hero__content {
    &__content {
        flex: 0 1 439px;
        width: 439px;
        > * {
            margin-bottom: 40px;
            &:last-child {
                margin-bottom: 0;
            }
            @media (max-width: $widthMobileSmall) {
                margin-bottom: 20px;
            }
        }
    }
    // .hero__list
    &__list {
        display: flex;
        gap: 15px;
        flex-wrap: wrap;
        @media (max-width: $widthMobileSmall) {
            justify-content: center;
        }
    }
    // .hero__item
    &__item {
        font-size: 32px;
        display: flex;
        align-items: center;
        text-transform: capitalize;
        letter-spacing: 0.157px;
        &:not(:last-child) {
            &::after {
                content: "/";
                font-size: 32px;
                padding-left: 15px;
            }
        }
        @media (max-width: $widthMobileSmall) {
            font-size: 24px;
        }
        @media (max-width: $widthSmall) {
            font-size: 18px;
        }
    }
    // .hero__title
    &__title {
        font-size: 78px;
        font-weight: 700;
        @media (max-width: 627.98px) {
            font-size: 58px;
        }
        @media (max-width: $widthMobileSmall) {
            font-size: 38px;
        }
    }
    //.hero__carusel
    &__carusel {
        display: flex;
        align-items: center;
        justify-content: center;
        column-gap: 1px;
    }
    // .hero__indicator
    &__indicator {
        flex: 0 0 62px;
        width: 62px;
        height: 10px;
        background-color: rgba($white, 0.5);
        transition: all 0.3s ease-in-out;
        cursor: pointer;
        &:first-child {
            border-radius: 12px 0 0 12px;
        }
        &:last-child {
            border-radius: 0 12px 12px 0;
        }
        &--active {
            background-color: $white;
        }
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }
}
.btn {
    // @mixin blockBtn ($fontSize, $color, $bg-color, $bordeRadius, $fontWeight, $padding)
    @include blockBtn(24px, $gray, $white, 8px, 700, 16px 72px);
    font-family: "Causten", sans-serif;
    transition: all 0.3s ease-in-out;
    @media (any-hover: hover) {
        &:hover {
            background-color: $gray;
            color: $white;
        }
    }
}
// DEALS
.deals {
    // .deals__items
    &__items {
        display: grid;
        gap: 30px;
        @media (min-width: $widthMobile) {
            grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        }
    }
    // .deals__item
    &__item {
        padding: 67px 28px 80px;
        background-color: $bgYellow;
        border-radius: 12px;
        color: $white;
        box-shadow: 2px 2px 10px 0px rgba($black, 0.4);
        position: relative;
        // .deals__item--padding
        &--padding {
            padding: 67px 30px 56px;
            background-color: $violet;
        }
    }
    // .deals__img
    &__img {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        &::before {
            @media (min-width: $widthMobile) and (max-width: $widthTablet) {
                @include overlayImage;
            }
            @media (max-width: $widthMobileSmall) {
                @include overlayImage;
            }
        }
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 605 / 356;
            object-fit: cover;
            border-radius: 12px;
        }
    }
    // .deals__body
    &__body {
        display: flex;
        position: relative;
    }
    // .deals__content
    &__content {
        z-index: 10;
        flex: 0 0 260px;
        font-family: "CoreSansC", sans-serif;
    }
    // .deals__label
    &__label {
        font-family: "Montserrat", sans-serif;
        font-size: 18px;
        line-height: 1.66;
        letter-spacing: 0.251px;
        &:not(:last-child) {
            margin-bottom: 24px;
        }
    }
    // .deals__title
    &__title {
        font-size: 34px;
        font-weight: 700;
        line-height: 1.33;
        &:not(:last-child) {
            margin-bottom: 9px;
        }
        @media (max-width: $widthSmall) {
            font-size: 32px;
        }
    }
    // .deals__sale
    &__sale {
        line-height: 1.57;
        letter-spacing: 0.251px;
        &:not(:last-child) {
            margin-bottom: 42px;
            .deals__item--padding & {
                margin-bottom: 30px;
            }
        }
    }
    // .deals__link-item
    &__link-item {
        font-weight: 700;
        line-height: 1.23;
        transition: all 0.3s ease-in-out;
        position: relative;
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        &::before {
            position: absolute;
            content: "";
            bottom: 0;
            left: 0;
            width: 100%;
            border-bottom: 1px solid $white;
            transform: scale(1);
            transition: all 0.3s ease-in-out;
        }
        // .deals__link-item--color
        &--color.deals__link-item {
            @media (any-hover: hover) {
                &:hover {
                    color: #ae91c4;
                    &::before {
                        transform: scale(0);
                        border-color: #ae91c4;
                    }
                }
            }
        }
        @media (any-hover: hover) {
            &:hover {
                color: #bb801a;
                &::before {
                    transform: scale(0);
                    border-color: #bb801a;
                }
            }
        }
    }
}
// ARRIVAL
.title {
    font-family: "CoreSansC", sans-serif;
    font-size: 34px;
    font-weight: 600;
    line-height: 1.1;
    color: $gray;
    letter-spacing: 0.68px;
    display: flex;
    column-gap: 20px;
    @media (max-width: $widthSmall) {
        font-size: 30px;
    }
    &::before {
        content: "";
        flex: 0 0 6px;
        width: 6px;
        height: 30px;
        border-radius: 10px;
        background-color: $violet;
    }
    &--margin:not(:last-child) {
        margin-bottom: 70px;
        @media (max-width: $widthTablet) {
            margin-bottom: 30px;
        }
    }
}
.arrival {
    // .arrival__wrapper
    &__wrapper {
        @media (min-width: $widthPcBig) {
            padding-left: 33px;
            padding-right: 33px;
            position: relative;
        }
    }
    // .arrival__btn
    &__btn {
        display: none;
        @media (min-width: $widthPcBig) {
            display: block;
            position: absolute;
            top: 50%;
            transform: translateY(-50%);
            img {
                transition: all 0.3s ease-in-out;
            }
            // .arrival__btn--left
            &--left {
                left: 0;
                @media (any-hover: hover) {
                    &:hover {
                        img {
                            transform: translateX(-2px);
                        }
                    }
                }
            }
            // .arrival__btn--right
            &--right {
                right: 0;
                @media (any-hover: hover) {
                    &:hover {
                        img {
                            transform: translateX(2px);
                        }
                    }
                }
            }
        }
    }
    // .arrival__items
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(263px, 1fr));
        gap: 39px;
        @media (max-width: $widthTablet) {
            column-gap: 20px;
            row-gap: 30px;
        }
    }
    // .arrival__image-link
    &__image-link {
        display: block;
        &:not(:last-child) {
            margin-bottom: 33px;
            @media (max-width: $widthTablet) {
                margin-bottom: 20px;
            }
        }
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 263 / 263;
            object-fit: cover;
            border-radius: 12px;
            transition: all 0.3s ease-in-out;
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    opacity: 0.9;
                }
            }
        }
    }
    // .arrival__title
    &__title {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
        @media (max-width: $widthMobile) {
            text-align: center;
        }
    }
    // .arrival__link-title
    &__link-title {
        font-size: 20px;
        font-weight: 700;
        letter-spacing: 0.2px;
        transition: all 0.3s ease-in-out;
        @media (any-hover: hover) {
            .arrival__title:hover & {
                color: $violet;
            }
        }
    }
}
// ZONE
.zone {
    // .zone__block
    &__block {
        display: grid;
        gap: 20px;
        @media (min-width: 639.98px) {
            grid-template-columns: repeat(6, 1fr);
        }
    }
    // .zone__item
    &__item {
        // .zone__item--padding-top
        &.zone__item--padding-top {
            padding-top: 34px;
        }
        // .zone__item--pp-big
        &.zone__item--pp-big {
            padding: 45px 100px 50px 20px;
        }
        //.zone__item--big
        &.zone__item--big {
            @media (min-width: $widthTablet) {
                grid-column: span 3;
            }
        }
    }
}
.item-zone {
    border-radius: 12px;
    position: relative;
    padding: 65px 20px 33px;
    overflow: clip;
    @media (max-width: $widthMobile) {
        &.item-zone:nth-child(4),
        &.item-zone:nth-child(5) {
            padding: 45px 4% 50px 20px;
        }
    }
    @media (min-width: 639.98px) {
        grid-column: span 3;
    }
    @media (min-width: $widthTablet) {
        grid-column: span 2;
    }
    // .item-zone__image
    &__image {
        position: absolute;
        top: 0;
        left: 0;
        z-index: -1;
        width: 100%;
        height: 100%;
        &::before {
            @media (max-width: $widthMobileSmall) {
                @include overlayImage;
            }
        }
        img {
            width: 100%;
            height: 100%;
            aspect-ratio: 400 / 393;
            object-fit: cover;
        }
        // .item-zone__image--bg-color
        &--bg-color {
            background-color: #4ec4df;
        }
        // .item-zone__image--color-bg
        &--color-bg {
            background-color: #deb2b1;
        }
        // .item-zone__image--big
        &--big {
            img {
                aspect-ratio: 610 / 393;
            }
        }
    }
    // .item-zone__inner
    &__inner {
        display: grid;
        grid-template-columns: 156px;
        gap: 23px;
        color: $gray;
        justify-content: end;
        justify-items: start;
        .item-zone & {
            @media (max-width: $widthMobileSmall) {
                grid-template-columns: auto;
                justify-content: center;
                justify-items: center;
                color: $white;
            }
        }
        // .item-zone__inner--left
        &--left {
            justify-content: start;
        }
        // .item-zone__inner--right
        &--right {
            justify-items: end;
        }
        // .item-zone__inner--color
        &--color {
            color: $white;
        }
    }
    // .item-zone__limited
    &__limited {
        @include blockBtn(12px, $white, $gray, 4px, 700, 10px 16px);
        border: none;
        text-transform: capitalize;
        transition: all 0.3s ease-in-out;
        @media (any-hover: hover) {
            &:hover {
                color: $gray;
                background-color: $white;
            }
        }
    }
    // .item-zone__title
    &__title {
        // .item-zone__title--right
        &--right {
            padding-left: 20px;
            text-align: right;
        }
    }
    // .item-zone__link-title
    &__link-title {
        font-family: "CoreSansC", sans-serif;
        font-size: 28px;
        font-weight: 600;
        line-height: 1.37;
        letter-spacing: 0.56px;
        transition: all 0.3s ease-in-out;
        // .item-zone__link-title--hover
        &.item-zone__link-title--hover {
            @media (any-hover: hover) {
                &:hover {
                    color: $white;
                }
            }
        }
        @media (any-hover: hover) {
            &:hover {
                color: $gray;
            }
        }
    }
    // .item-zone__sub-title
    &__sub-title {
        font-size: 14px;
        font-weight: 600;
    }
    // .item-zone__sale
    &__sale {
        font-size: 18px;
        font-weight: 700;
        // .item-zone__sale--size
        &--size {
            font-size: 20px;
        }
    }
    // .item-zone__icon
    &__icon {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 30px;
    }
    // .item-zone__arrow
    &__arrow {
        // .item-zone__arrow--black
        &--black {
            path {
                @media (min-width: $widthMobileSmall) {
                    stroke: #333;
                }
            }
        }
        svg {
            animation: arrow 0.65s ease-in-out infinite alternate;
            @keyframes arrow {
                0% {
                    transform: translateY(0px);
                }
                100% {
                    transform: translateY(5px);
                }
            }
        }
    }
    // .item-zone__btn
    &__btn {
        // @mixin blockBtn ($fontSize, $color, $bg-color, $bordeRadius, $fontWeight, $padding)
        @include blockBtn(12px, $gray, transparent, 4px, 500, 10px 25px);
        text-transform: uppercase;
        border: 1px solid $gray;
        transition: all 0.3s ease-in-out;
        @media (max-width: $widthMobileSmall) {
            border-color: $white;
            color: $white;
        }
        @media (any-hover: hover) {
            &:hover {
                color: $white;
                border-color: $white;
                background-color: rgba($black, 0.2);
            }
        }
        // .item-zone__btn--margin
        &--margin {
            margin-left: 6px;
        }
        // .item-zone__btn--padding
        &--padding {
            padding: 11px 35px;
        }
        // .item-zone__btn--white
        &--white {
            color: $white;
            border-color: $white;
            @media (any-hover: hover) {
                &:hover {
                    color: $gray;
                    border-color: $gray;
                    background-color: rgba($black, 0.2);
                }
            }
        }
    }
}
// Fashion
.fashion {
    // .fashion__container
    &__container {
        display: grid;
        // grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        grid-template-columns: repeat(2, 1fr);
        row-gap: 30px;
    }
    // .fashion__block
    &__block {
        position: relative;
        min-height: 640px;
        display: flex;
        justify-content: center;
        align-items: center;
        @media (max-width: $widthTablet) {
            text-align: center;
        }
        @media (max-width: $widthMobile) {
            grid-column: span 2;
        }
        img {
            position: absolute;
            top: 0;
            left: 0;
            border-radius: 0px 12px 12px 0;
            width: 100%;
            height: 100%;
            aspect-ratio: 626 / 640;
            object-fit: cover;
            @media (max-width: $widthMobile) {
                border-radius: 12px;
            }
        }
        // .fashion__block--gradien
        &.fashion__block--gradien {
            &::after {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($black, 0.7);
                border-radius: 12px 0px 0px 12px;
                @media (max-width: $widthMobile) {
                    border-radius: 12px;
                }
            }
            img {
                border-radius: 12px 0px 0px 12px;
                @media (max-width: $widthMobile) {
                    border-radius: 12px;
                }
            }
        }
    }
    // .fashion__content
    &__content {
        padding: 40px 5px;
        flex: 0 1 466px;
        max-width: 466px;
        position: relative;
        z-index: 1;
        color: $white;
    }
    // .fashion__title
    &__title {
        font-family: "CoreSansC", sans-serif;
        font-size: 34px;
        font-weight: 700;
        line-height: 1.47;
        letter-spacing: 0.208px;
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    // .fashion__text
    &__text {
        &:not(:last-child) {
            margin-bottom: 50px;
        }
        p {
            &:not(:last-child) {
                margin-bottom: 15px;
            }
        }
    }
    // .fashion__link-btn
    &__link-btn {
        @include blockBtn(18px, $gray, $white, 8px, 600, 12px 44px);
        transition: all 0.3s ease-in-out;
        @media (any-hover: hover) {
            &:hover {
                background-color: $gray;
                color: $white;
            }
        }
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
// CATEGORIES
.categories {
    // .categories__items
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fill, minmax(270px, 1fr));
        gap: 50px;
        @media (max-width: $widthMobile) {
            column-gap: 20px;
            row-gap: 30px;
        }
        // .categories__items--big
        &.categories__items--big {
            column-gap: 36px;
        }
    }
    // .categories__item
    &__item {
        display: flex;
        flex-direction: column;
        min-height: 100%;
        position: relative;
    }
    // .categories__image
    &__image {
        flex-shrink: 0;
        border-radius: 10px;
        overflow: hidden;
        &:not(:last-child) {
            margin-bottom: 16px;
        }
        img {
            width: 100%;
            height: 100%;
            border-radius: 10px;
            aspect-ratio: 270 / 393;
            object-fit: cover;
            transition: all 0.4s ease-in-out;
        }
        // .categories__image--opacity-9
        // .categories__image--opacity-14
        &.categories__image--opacity-9,
        &.categories__image--opacity-14 {
            position: relative;
            &::before {
                content: "";
                position: absolute;
                top: 0;
                left: 0;
                width: 100%;
                height: 100%;
                background-color: rgba($black, 0.09);
                z-index: 2;
            }
        }
        // .categories__image--opacity-14
        &.categories__image--opacity-14 {
            background-color: rgba($black, 0.14);
        }
        //.categories__image--big
        &.categories__image--big {
            img {
                aspect-ratio: 282 / 370;
            }
        }
        @media (any-hover: hover) {
            &:hover {
                img {
                    transform: scale(1.1);
                }
            }
        }
    }
    // .categories__favorite
    &__favorite {
        position: absolute;
        top: 26px;
        right: 21px;
        background-color: $white;
        flex: 0 0 32px;
        width: 32px;
        height: 32px;
        border-radius: 50%;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        @media (any-hover: hover) {
            &:hover {
                transform: scale(1.1);
            }
        }
    }
    // .categories__body
    &__body {
        flex-grow: 1;
        display: flex;
        column-gap: 10px;
    }
    // .categories__content
    &__content {
        flex-grow: 1;
        display: flex;
        flex-direction: column;
        row-gap: 5px;
    }
    // .categories__title
    &__title {
        flex-grow: 1;
    }
    // .categories__link-title
    &__link-title {
        color: #2a2f2f;
        font-size: 18px;
        font-weight: 700;
        line-height: 1.56;
        letter-spacing: -0.715px;
        transition: all 0.3s ease-in-out;
        @media (any-hover: hover) {
            &:hover {
                color: $violet;
            }
        }
    }
    // .categories__sub-titles
    &__sub-title {
        font-size: 14px;
        color: $silverThin;
        font-weight: 500;
    }
    // .categories__arrow-link
    &__arrow-link {
        flex: 0 0 18px;
        width: 18px;
        min-height: 18px;
        transition: all 0.3s ease-in-out;
        @media (any-hover: hover) {
            &:hover {
                transform: translateX(5px);
            }
        }
    }
    // .categories__price
    &__price {
        padding: 10px 16px;
        border-radius: 8px;
        background: #f6f6f6;
        color: $gray;
        font-size: 14px;
        font-weight: 700;
        align-self: flex-start;
        text-align: center;
    }
}
// BRANDS
.brands {
    // .brands__inner
    &__inner {
        color: $white;
        text-align: center;
        background-color: $gray;
        border-radius: 12px;
        padding-top: 44px;
        padding-bottom: 60px;
        padding-left: 15px;
        padding-right: 15px;
    }
    // .brands__title
    &__title {
        font-family: "CoreSansC", sans-serif;
        font-size: 50px;
        font-weight: 700;
        &:not(:last-child) {
            margin-bottom: 26px;
        }
    }
    // .brands__label
    &__label {
        font-size: 22px;
        font-weight: 400;
        &:not(:last-child) {
            margin-bottom: 67px;
        }
        span {
            color: $yellow;
            font-weight: 700;
        }
    }
    // .brands__items
    &__items {
        display: flex;
        justify-content: center;
        column-gap: 26px;
        flex-wrap: wrap;
        row-gap: 15px;
    }
    // .brands__image
    &__image {
        flex: 0 0 175px;
        width: 175px;
        min-height: 86px;
        background-color: $white;
        display: flex;
        justify-content: center;
        align-items: center;
        border-radius: 12px;
        transition: all 0.3s ease-in-out;
        @media (any-hover: hover) {
            &:hover {
                box-shadow: 5px 5px 10px $black;
            }
        }
    }
}
// FEEDBACK
.feedback {
    // .feedback__slider
    &__slider {
        display: flex;
        flex-direction: column;
        align-items: center;
        row-gap: 21px;
    }
    // .feedback__items
    &__items {
        display: grid;
        grid-template-columns: repeat(auto-fit, minmax(290px, 1fr));
        column-gap: 23px;
        row-gap: 30px;
    }
    // .feedback__item
    &__item {
        border-radius: 10px;
        border: 2px solid #bebcbd;
        background: $white;
        padding: 23px;
        display: flex;
        flex-direction: column;
        row-gap: 20px;
    }
    // .feedback__head
    &__head {
        display: flex;
        column-gap: 15px;
    }
    // .feedback__image
    &__image {
        flex: 1 0 65px;
        width: 65px;
        img {
            width: 65px;
            aspect-ratio: 65 / 65;
            object-fit: cover;
        }
    }
    // .feedback__rate
    &__rate {
        display: flex;
        column-gap: 4px;
    }
    // .feedback__star
    &__star {
        width: 23px;
        height: 23px;
        background: url("../img/feedback/star.svg") center no-repeat;
        // .feedback__star--half
        &.feedback__star--half {
            background: url("../img/feedback/half-a-star.svg") center no-repeat;
        }
        // .feedback__star--empty
        &.feedback__star--empty {
            background: url("../img/feedback/empty-star.svg") center no-repeat;
        }
    }
    // .feedback__title
    &__title {
        font-family: "CoreSansC", sans-serif;
        font-size: 22px;
        font-weight: 500;
        color: $gray;
    }
    // .feedback__text
    &__text {
        font-size: 14px;
        color: $silver;
        p {
            &:not(:last-child) {
                margin-bottom: 5px;
            }
        }
    }
    // .feedback__indicators
    &__indicators {
        display: flex;
        column-gap: 4px;
    }
    // .feedback__dot
    &__dot {
        flex: 0 0 8px;
        width: 8px;
        height: 8px;
        border-radius: 50%;
        background-color: rgba(190, 188, 189, 0.302);
        transition: all 0.3s ease-in-out;
        // .feedback__dot--active
        &.feedback__dot--active {
            background-color: $gray;
        }
        @media (any-hover: hover) {
            &:hover {
                background-color: $gray;
            }
        }
    }
}
// FOOTER
.footer {
    background-color: $gray;
    color: $whiteLite;
    font-size: 18px;
    padding-top: 59px;
    padding-bottom: 59px;
    &__content {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
}
.content-footer {
    padding-bottom: 43px;
    border-bottom: 1px solid #bebcbd;
    //.content-footer__container
    &__container {
        @include smallContainer;
    }
    // .content-footer__top
    &__top {
        &:not(:last-child) {
            margin-bottom: 30px;
        }
    }
    // .content-footer__items
    &__items {
        line-height: 2.17;
        display: grid;
        column-gap: 80px;
        row-gap: 30px;
        @media (min-width: $widthMobileSmall) {
            grid-template-columns: repeat(6, auto);
        }
    }
    // .content-footer__item
    &__item {
        @media (min-width: $widthMobileSmall) {
            grid-column: span 3;
        }
        @media (min-width: $widthMobile) {
            grid-column: span 2;
        }
        @media (min-width: $widthTablet) {
            grid-column: span 1;
        }
    }
    &__item--big {
        @media (min-width: $widthMobile) {
            grid-column: span 6;
        }
        @media (min-width: $widthTablet) {
            grid-column: span 3;
        }
    }
}
.footer-title {
    font-size: 29px;
    font-weight: 700;
}
.item-footer {
    // .item-footer__tile
    &__tile {
        &:not(:last-child) {
            margin-bottom: 15px;
        }
    }
    // .item-footer__item
    &__item {
        &:not(:last-child) {
            margin-bottom: 5px;
        }
    }
    // .item-footer__link
    &__link {
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        text-decoration: $gray;
        @media (any-hover: hover) {
            &:hover {
                color: $white;
                text-decoration: underline;
                text-decoration-color: $white;
            }
        }
    }
}
.body-footer {
    display: flex;
    align-items: flex-end;
    column-gap: 50px;
    padding-right: 64px;
    @media (max-width: $widthMobileSmall) {
        flex-direction: column;
        row-gap: 30px;
        align-items: flex-start;
        padding-right: 0;
    }
    // .body-footer__social
    &__social {
        flex-grow: 1;
        display: flex;
        align-items: center;
        column-gap: 10px;
    }
    // .body-footer__link-social
    &__link-social {
        flex: 0 0 37px;
        width: 37px;
        height: 37px;
        border-radius: 11px;
        background-color: $whiteLite;
        display: flex;
        justify-content: center;
        align-items: center;
        transition: all 0.3s ease-in-out;
        @media (any-hover: hover) {
            &:hover {
                background-color: $silverThin;
            }
        }
    }
    // .body-footer__title
    &__title {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    // .body-footer__items
    &__items {
        display: flex;
        align-items: center;
        column-gap: 21px;
        flex-wrap: wrap;
        row-gap: 20px;
    }
    // .body-footer__item
    &__item {
        flex: 0 0 154px;
        width: 154px;
        display: flex;
        align-items: center;
        column-gap: 10px;
        padding: 9px;
        border-radius: 12px;
        background-color: #404040;
        transition: all 0.3s ease-in-out;
        @media (any-hover: hover) {
            &:hover {
                background-color: rgba($silver, 0.3);
            }
        }
    }
    &__img {
        max-width: 30px;
        img {
            aspect-ratio: 30 / 33;
            object-fit: cover;
        }
    }
    // .body-footer__content
    &__content {
        color: $white;
        > * {
            margin-bottom: 5px;
        }
        > *:last-child {
            margin-bottom: 0;
        }
    }
    // .body-footer__label
    &__label {
        font-size: 10px;
    }
    // .body-fotoor__app-title
    &__app-title {
        font-size: 18px;
    }
}
.footer {
    // .footer__spoiler
    &__spoiler {
        &:not(:last-child) {
            margin-bottom: 37px;
        }
    }
    // .fotoer__copy
    &__copy {
        font-size: 18px;
        font-weight: 700;
        line-height: 2;
        color: $white;
        text-align: center;
    }
}
.spoiler {
    padding-bottom: 14px;
    border-bottom: 1px solid #bebcbd;
    // .spoiler__container
    &__container {
        @include smallContainer;
    }
    // .spoiler__block
    &__block {
        cursor: pointer;
    }
    // .spoiler__title
    &__title {
        display: flex;
        align-items: center;
        position: relative;
        list-style: none;
        &::marker,
        &::-webkit-details-market {
            display: none;
        }
        &:not(:last-child) {
            margin-bottom: 20px;
        }
        &::before {
            position: absolute;
            content: "";
            right: 0;
            width: 17px;
            height: 8px;
            transition: all 0.3s ease-in-out;
            background: url("../img/footer/arrow-down.svg") center / 17px 8px no-repeat;
            .spoiler__block[open] & {
                transform: rotate(-90deg);
            }
        }
    }
    // .spoiler__list
    &__list {
        margin-left: 20px;
    }
    // .spoiler__item
    &__item {
        &:not(:last-child) {
            margin-bottom: 20px;
        }
    }
    // .spoiler__link
    &__link {
        font-size: 18px;
        font-weight: 500;
        transition: all 0.3s ease-in-out;
        text-decoration: $gray;
        @media (any-hover: hover) {
            &:hover {
                color: $white;
                text-decoration: underline;
                text-decoration-color: $white;
            }
        }
    }
}
