/* Підключення шрифтів */

@import url("https://fonts.googleapis.com/css?family=Inter:regular,500&display=swap");
@import url("https://fonts.googleapis.com/css?family=Poppins:600,700&display=swap");
@import url("https://fonts.googleapis.com/css?family=Sofia+Sans:900&display=swap");

@font-face {
    font-family: "Causten", sans-serif;
    src: url(../fonts/Causten-Regular.woff2) format(woff2),
        url(../fonts/Causten-Regular.woff) format(woff);
    font-weight: normal;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "Causten", sans-serif;
    src: url(../fonts//Causten-Bold.woff2) format(woff2),
        url(../fonts/Causten-Bold.woff) format(woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ComicSansMS", sans-serif;
    src: url(../fonts/ComicSansMS.woff2) format(woff2),
        url(../fonts/ComicSansMS.woff) format(woff);
    font-weight: 400;
    font-style: normal;
    font-display: swap;
}

@font-face {
    font-family: "ComicSansMS", sans-serif;
    src: url(../fonts/ComicSansMS-Bold.woff2) format(woff2),
        url(../fonts/ComicSansMS-Bold.woff) format(woff);
    font-weight: 700;
    font-style: normal;
    font-display: swap;
}