@use "sass:math";
// PERCENT
@function percent($num1, $num2) {
    $rez: math.div($num1, $num2) * 100%;
    @return $rez;
}

// REM
@function toRem($num1, $num2: 16)  {
    $rez: math.div($num1, $num2) + rem;
    @return $rez;
}

// EM
@function toEm($num1, $num2: 16)  {
    $rez: math.div($num1, $num2) + em;
    @return $rez;
} 